/* Global variables */
:root {
    --slideover-default-bg: #FAFAFA;
    --slideover-default-text: #083e44;
    --slideover-default-border: 1px solid #083e44;
    --slideover-default-links: #DE257E;
    --slideover-default-accent: #3E6C69;
}

/* Global slideover styling */
.slideover__content {
    background: var(--slideover-default-bg) !important;
    color: var(--slideover-default-text) !important;
    border: var(--slideover-default-border) !important;
}

/* Right-aligned emphasis border */
.slideover--r.slideover__content {
    border-left-width: 5px !important;
}

/* Left-aligned emphasis border */
.slideover--l.slideover__content {
    border-right-width: 5px !important;
}

/* Top-aligned emphasis border */
.slideover--t.slideover__content {
    border-bottom-width: 5px !important;
}

/* Bottom-aligned emphasis border */
.slideover--b.slideover__content {
    border-top-width: 5px !important;
}

/* Link styling */
.slideover__content-area a {
    color: var(--slideover-default-links);
    text-decoration: none;
}

.slideover__content-area a:hover {
  text-decoration: underline 2px solid var(--slideover-default-text);
}

/* Callout embed styling */
.slideover__content-area .embed {
    background-color: #f5fcfd;
    border: 1px solid rgba(8, 62, 68, 0.2);
}

/* Emphasis styling */
.slideover__content-area strong,
.slideover__content-area b,
.slideover__content-area i,
.slideover__content-area em {
    color: var(--slideover-default-accent) !important;
}

/* Quotation styling */
q {
    color: var(--slideover-default-accent) !important;
}

.slideover__content-area blockquote {
    border-left: 4px solid var(--slideover-default-accent) !important;
    color: var(--slideover-default-accent) !important;
}

/* Code styling */
.slideover__content-area div.sourceCode {
    background-color: var(--slideover-default-bg) !important;
}

.slideover__content-area code {
    color: var(--slideover-default-text) !important;
    background-color: #EAF8FA;
    border: 1px solid rgba(8, 62, 68, 0.2);
}
