.navbar {
  background: linear-gradient(45deg, #DF1F7E 20%, #DE257E) no-repeat, linear-gradient(135deg, transparent 50%, white 50%);
  background-size: 100% 100%;
  background-blend-mode: screen;
}

.navbar-nav {
    margin-left: auto !important;
}

.navbar-nav .nav-item:not(#nav-menu-fa-book-open--documentation, #nav-menu-log-in) > .nav-link {
  display: none;
}

#nav-menu-fa-book-open--documentation, #nav-menu-log-in {
  display: block !important;
}

.navbar-brand.navbar-brand-logo .navbar-logo {
    display: none; 
}

.navbar-brand.navbar-brand-logo {
    background-image: url('../validmind.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    width: 75px; 
    height: 40px; 
    display: block; 
}
