.navbar {
  background: linear-gradient(45deg, #DF1F7E 20%, #DE257E) no-repeat, linear-gradient(135deg, transparent 50%, white 50%);
  background-size: 100% 100%;
  background-blend-mode: screen;
}

#nav-menu-fa-book-open--documentation.nav-link:before, a.nav-link:hover:has(.fa-house):before {
  content: none !important; 
}

#nav-menu-fa-book-open--documentation.nav-link:hover {
  background-color: #AF1A62;
}

.navbar-nav {
    margin-left: auto !important;
}

.navbar-nav .nav-item:not(#nav-menu-fa-book-open--documentation, #nav-menu-log-in) > .nav-link {
  display: none;
}

#nav-menu-fa-book-open--documentation, #nav-menu-log-in {
  display: block !important;
}

.navbar-nav .nav-item > .nav-link:has(.fa-house) {
  display: block !important;
  color: #DE257E;
}

a.nav-link:hover:has(.fa-house) {
  color: #AF1A62 !important;
}

.navbar-brand.navbar-brand-logo .navbar-logo {
    display: none; 
}

.navbar-brand.navbar-brand-logo {
    background-image: url('../favicon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    width: 75px; 
    height: 40px; 
    display: block; 
    filter: brightness(0) invert(1);
}

#nav-menu-fa-book-open--documentation {
  background-color: #de257e;
  border: 1px solid #de257e;
  color: white;
  padding: 0.375rem 0.75rem;
  border-radius: 2px;
  text-decoration: none;
}

.navbar-toggler {
  background-color: white;
}

@media (max-width: 768px) {
  #nav-menu-fa-book-open--documentation {
    margin-top: 0.5rem; 
  }

  .navbar-nav .nav-item > .nav-link:has(.fa-house) {
    display: none !important;
  }
}

#nav-menu-log-in:hover {
  text-decoration: none;
  color: white;
  background-color: #de257e;
  border: 1px solid #de257e;
}