.navbar {
    background-color: #083E44 !important;
  }
  
  a.nav-link {
    text-decoration: none;
    color: #EAF8FA !important;
  }
  
  a.nav-link:hover {
    color: #DE257E !important;
  }
  
  .navbar-nav {
      margin-left: auto !important;
  }
  
  .navbar-nav .nav-item:not(#nav-menu-fa-book-open--documentation, #nav-menu-login) > .nav-link {
    display: none;
  }
  
  #nav-menu-fa-book-open--documentation, #nav-menu-login {
    display: block !important;
  }
  
  .navbar-brand.navbar-brand-logo .navbar-logo {
      display: none; 
  }
  
  .navbar-brand.navbar-brand-logo {
      background-image: url('../validmind.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left center;
      width: 75px; 
      height: 40px; 
      display: block; 
  }