# Core ValidMind library
validmind
validmind[llm]  # Optional LLM features (e.g. auto-descriptions)

# Fairness & explainability libraries
fairlearn
aequitas
shap==0.41.0  # Ensure compatibility with ValidMind and model explainability

# Jupyter + widgets
anywidget

# Plotting and image export
kaleido>=1.0.0 # Required for Plotly static image export

# Compatibility fix
scipy==1.10.1  # Needed for scorecardpy -> statsmodels compatibility

# Optional dependencies (if used in your test templates or notebooks)
pandas
scikit-learn
matplotlib
plotly>=6.1.1