@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h6 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
}

h1 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
}

p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #212529;
}

h2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  /*line-height: 120%;*/
  color: #212529;
}

h4 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #212529;
}

p {
  --bs-link-color: #DE257E;
}

