// Announcement banner styles

.quarto-announcement {
  background-color: #44969f !important;
  color: #fff !important;
  border-radius: 0 !important;
  min-height: 36px;
  padding: 0 24px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
}

.quarto-announcement-content {
  color: #fff !important;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
}

.quarto-announcement-content, .quarto-announcement-action:before {
  color: white !important;
  padding: 5px;
}

.quarto-announcement-action {
  display: none; /* Hide the default close button if not needed */
}

// Announcement banner link styles
.quarto-announcement-content a {
  color: white !important;
  text-decoration: underline;
  font-weight: 600;
}

.quarto-announcement-content a:hover {
    color: #fff !important;
    text-decoration: underline 10px solid;
    text-underline-offset: 10px;
  }
  