// Button styles

// Other button styles
.button {
  color: $validmind-pink;
  background-color: white;
  text-decoration: none;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid $validmind-pink;
  font-size: 16px;
  transition: color 0.15s ease-in, background-color 0.15s ease-in;
  font-weight: bold;
  text-align: center;
}

.button:hover {
  color: $validmind-teal;
  text-decoration: none;
  border: 1px solid $validmind-teal;
  background-color: rgba(181, 181, 181, 0.0625);
}

.button-pink {
  margin-top: 40px;
  color: white;
  background-color: $validmind-pink;
  border-radius: 4px;
  border: 1px solid $validmind-pink;
  margin-right: 20px;
}

.button-white {
  margin-top: 40px;
  color: $validmind-dark-teal;
  background-color: #FFF;
  border-radius: 4px;
  border: 1px solid $validmind-dark-teal;
}

.button-green {
  margin-top: 10px;
  color: white;
  background-color: $validmind-dark-teal;
  border-radius: 4px;
  border: 1px solid $validmind-dark-teal;
  font-weight: bold;
}

.button-small {
  font-variant: small-caps;
  color: $validmind-teal;
  background-color: rgba(181, 181, 181, 0.0625);
  border: 1px solid $validmind-teal;
  font-weight: bold;
  border-radius: 3px;
  padding: 2px 5px;
  vertical-align: middle;
  line-height: 35px;
}

.button-small:hover {
  color: $validmind-teal;
  text-decoration: none;
  background-color: $validmind-bg-hover;
  border: 1px solid $validmind-teal;
}

.cta {
  text-decoration: none;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  border-radius: 2px;
  transition: color 0.15s ease-in, background-color 0.15s ease-in;
  font-weight: bold;
  text-align: center;
  font-variant: small-caps;
  font-size: 20px;
}

.cta:hover {
  text-decoration: none;
  filter: brightness(125%);
}

#nav-menu-log-in {
  background-color: $validmind-teal;
  border: 1px solid $validmind-teal;
  color: #fff;
  padding: 0.375rem 1rem !important;
  border-radius: 2px;
  text-decoration: none;
  font-weight: bolder;
}

#nav-menu-log-in:hover {
  text-decoration: none;
  color: white;
  background-color: $validmind-pink;
  border: 1px solid $validmind-pink;
}

// Apply existing button classes to the login nav-links for all environments
a.nav-link[href="https://app.prod.validmind.ai/"],
a.nav-link[href="https://app.staging.validmind.ai/"],
a.nav-link[href="https://app.dev.vm.validmind.ai/"] {
  @extend #nav-menu-log-in;
}

// Disable underline on hover for login buttons
a.nav-link[href="https://app.prod.validmind.ai/"]:hover,
a.nav-link[href="https://app.staging.validmind.ai/"]:hover,
a.nav-link[href="https://app.dev.vm.validmind.ai/"]:hover {
  text-decoration: none !important;
}

// Responsive styles for nav-menu-log-in
@media (max-width: 768px) {
  #nav-menu-log-in {
    margin-top: 0.5rem;
  }
}

