/* Callout button: combines callout styling with button shape */

.callout-button {
  display: inline-block !important;
  width: fit-content !important;
  max-width: 100%;
}

.callout-button > .callout {
  display: inline-block !important;
  width: fit-content !important;
  max-width: 100%;
}

.callout-button > .callout.callout-style-simple {
  display: inline-flex !important;
  flex-direction: column;
}

.callout-button .callout .callout-header {
  display: inline-block !important;
  width: fit-content;
}

.callout-button .callout .callout-title-container {
  display: inline-block !important;
  text-align: left;
}
