// Pagination styles

.page-item.active .page-link {
  background-color: #de257e !important;
  border-color: #de257e !important;
  color: white !important;
}

.page-item.active .page-link:hover {
  background-color: #f78ab2 !important; /* 50% lighter */
  border-color: #f78ab2 !important;
  color: #333 !important; /* contrast text */
}
