/* Termsfeed (cookie consent) styles */

.termsfeed-com---palette-light .cc-nb-okagree,
.termsfeed-com---palette-light .cc-nb-reject,
.termsfeed-com---palette-light .cc-cp-foot-save {
  color: #fff;
  background-color: $validmind-pink;
}

.termsfeed-com---pc-dialog {
  color: #111;
  border-color: $validmind-pink;
}
