.termsfeed-com---palette-light .cc-nb-okagree,
.termsfeed-com---palette-light .cc-nb-reject,
.termsfeed-com---palette-light .cc-cp-foot-save {
  color: #fff;
  background-color: #de257e;
}

.termsfeed-com---pc-dialog {
  color: #111;
  border-color: #de257e;
}
