// Table of Contents Variables

// TOC color variables
$toc-color: $validmind-text-muted;
$toc-active-border: $validmind-pink;

// Table of Contents link styles
nav#TOC ul > li > a.nav-link {
  color: $toc-color !important;
  text-decoration: none;
}

nav#TOC ul > li > a.nav-link:hover,
nav#TOC ul > li > a.nav-link.active:hover {
  color: $validmind-dark-teal !important;
  background-color: $validmind-bg-hover;
  text-decoration: none;
}

nav#TOC ul > li > a.nav-link.active, nav#TOC ul > li > a.nav-link.active:hover {
  color: $validmind-pink !important;
  text-decoration: none;
}

nav#TOC .toc-actions ul li a.toc-action {
  color: $validmind-dark-teal;
  text-decoration: none;
  font-size: 0.9em;
  margin-right: 1em;
}

// TOC styles
nav#TOC {
  padding: 13px;
  background-color: white;
  border: 1px solid #bdc1c4;
  /* border-bottom: 2px solid #196972;
  border-right: 2px solid #196972; */
  border-radius: 3px;
  background-color: #FAFBFB;
}

nav#TOC h2#toc-title {
  font-weight: bold;
  color: #196972;
}
