project:
  type: website

metadata-files:
  - get-started/_sidebar.yaml
  - guide/_sidebar.yaml
  - developer/_sidebar.yaml
  - training/_sidebar.yaml
  - validmind/_sidebar.yml
  - releases/_sidebar.yaml
  - installation/_sidebar.yaml

website:
  # announcement: 
  #   content: '[**{{< fa book-open-reader >}} EU AI Act Compliance**](https://validmind.com/download-whitepaper-the-eu-ai-act/) — Read our original regulation brief on how the EU AI Act aims to balance innovation with safety and accountability, setting standards for responsible AI use'
  #   position: above-navbar
  favicon: favicon.svg
  title: "ValidMind"
  cookie-consent:
    type: express
    style: simple
    position: center
  google-analytics: 
    tracking-id: "G-S46CKWPNSS"
    anonymize-ip: true
    show-item-context: true
  page-navigation: true
  repo-url: https://github.com/validmind/documentation/
  repo-subdir: site/
  repo-actions: [edit, issue]
  
  navbar:
    collapse-below: xl
    logo: logo.svg
    background: white
    title: false
    pinned: true
    right:
      - text: "{{< fa book-open >}} Documentation"
        menu:
        - text: "About {{< var vm.product >}}"
          file: about/overview.qmd
        - text: "Get Started"
          file: get-started/get-started.qmd
        - text: "Guides"
          file: guide/guides.qmd
        - text: "Support"
          file: support/support.qmd
        - text: "Releases"
          file: releases/all-releases.qmd
        - text: "---"
        - text: "{{< var validmind.developer >}}"
          file: developer/validmind-library.qmd
        - text: "Python API"
          file: validmind/validmind.qmd
        - text: "Public REST API"
          file: reference/validmind-rest-api-vm.qmd
        - text: "---"
        - text: "Training Courses"
          file: training/training.qmd

# The log in menu is defined in _quarto-development.yml, _quarto-staging.yml, and _quarto-production.yml as not all environments have the same login options.

#  COMMENT THIS OUT WHEN DONE TESTING
      # - text: "{{< fa flask >}} Testing"
      #   file: internal/testing.qmd

  sidebar: 
    - title: "Home"
      style: docked
      collapse: true
      collapse-level: 1

      contents:
        - index.qmd

    - title: "About"
      contents:
        - file: about/overview.qmd
          text: "About"
          contents:
          - text: "Automated testing & documentation"
            file: about/overview-model-documentation.qmd
          - about/overview-model-risk-management.qmd
        - text: "LLM features"
          file: about/overview-llm-features.qmd
        - file: about/deployment/deployment-options.qmd
          text: "Deployment options"
          contents:
          - about/deployment/multi-tenant-cloud.qmd
          - about/deployment/virtual-private-validmind.qmd
        - about/deployment/system-access-requirements.qmd
        - about/glossary/glossary.qmd
        - text: "---"
        - text: "Contributing"
        - about/contributing/validmind-community.qmd
        - file: about/contributing/style-guide/style-guide.qmd
          contents:
          - about/contributing/style-guide/voice-and-tone.qmd
          - about/contributing/style-guide/conventions.qmd
        - text: "---"
        - text: "Fine Print"
        - about/fine-print/data-privacy-policy.qmd
        - text: "Software license agreement"
          file: about/fine-print/license-agreement.qmd

    - title: "Support"
      contents:
        - support/support.qmd
        - support/troubleshooting.qmd
        - text: "---"
        - file: faq/faq.qmd
          contents:
            - text: "Access & permissions"
              file: faq/faq-organizations.qmd
            - faq/faq-workflows.qmd
            - text: "Inventory & activity"
              file: faq/faq-inventory.qmd
            - text: "Documentation & templates"
              file: faq/faq-documentation.qmd
            - text: "Validation & artifacts"
              file: faq/faq-validation.qmd
            - faq/faq-collaboration.qmd
            - text: "Monitoring & reporting"
              file: faq/faq-reporting.qmd
            - faq/faq-testing.qmd
            - faq/faq-integrations.qmd
            - text: "Data & privacy"
              file: faq/faq-privacy.qmd

# COMMENT THIS OUT WHEN DONE TESTING
    # - title: "Testing"
    #   contents:
    #     - internal/testing.qmd
    #     - text: "---"
    #     - text: "EXPERIMENTS"
    #     - file: internal/lightbox.qmd
    #     - file: internal/footnotes/footnotes.qmd
    #       contents:
    #         - internal/footnotes/hover-only.qmd

  page-footer:
    background: "#26818B"
    left:
      - text: |
          <div class="footer-section footer-logo-info">
            <a href="https://validmind.com" target="_blank" rel="noopener" class="footer-logo-link">
              <img src="/assets/home-page/ValidMind%20MASTER%20Brand%20Assets_Logo-White%20R%202.svg" alt="ValidMind Logo" class="footer-logo" />
            </a>
            <div class="footer-logo-column">
              <div>©</div>
              <div class="footer-company-info">
                <div>Copyright {{< now year >}} ValidMind Inc.</div>
                <div>All Rights Reserved.</div>
                <div><a id="open_preferences_center" class="cookie-preferences-link" href="#">Cookie preferences</a></div>
                <div><a href="https://validmind.com/legal/" class="footer-company-legal external" target="_blank" rel="noopener">Legal</a></div>
              </div>
            </div>
          </div>
    center:
      - text: |
          <div class="footer-section">
            <div class="footer-heading">Get started</div>
            <div class="footer-user-guides-columns">
              <ul class="footer-user-guides-column-1">
                <li><a href="/get-started/developer/quickstart-developer.qmd">Model development</a></li>
                <li><a href="/get-started/validator/quickstart-validator.qmd">Model validation</a></li>
                <li><a href="/get-started/administrator/quickstart-administrator.qmd">Setup & admin</a></li>
              </ul>
            </div>
          </div>
      - text: |
          <div class="footer-section footer-user-guides">
            <div class="footer-heading">Guides</div>
            <div class="footer-user-guides-columns">
              <ul class="footer-user-guides-column-1">
                <li><a href="/guide/guides.qmd#access">Access</a></li>
                <li><a href="/guide/guides.qmd#configuration">Configuration</a></li>
                <li><a href="/guide/guides.qmd#model-inventory">Model inventory</a></li>
              </ul>
              <ul class="footer-user-guides-column-2">
                <li><a href="/guide/guides.qmd#model-documentation">Model documentation</a></li>
                <li><a href="/guide/guides.qmd#model-validation">Model validation</a></li>
                <li><a href="/guide/guides.qmd#workflows">Workflows</a></li>
              </ul>
              <ul class="footer-user-guides-column-3">
                <li><a href="/guide/guides.qmd#reporting">Reporting</a></li>
                <li><a href="/guide/guides.qmd#monitoring">Monitoring</a></li>
                <li><a href="/guide/guides.qmd#attestation">Attestation</a></li>
              </ul>
            </div>
          </div>
      - text: |
          <div class="footer-section">
            <div class="footer-heading">Library</div>
            <ul>
              <li><a href="/developer/validmind-library.qmd#for-model-development">For developers</a></li>
              <li><a href="/developer/validmind-library.qmd#for-model-validation">For validators</a></li>
              <li><a href="/developer/validmind-library.qmd#try-the-code-samples">Code samples</a></li>
              <li><a href="/validmind/validmind.qmd">Python API</a></li>
              <li><a href="/reference/validmind-rest-api-vm.qmd">Public REST API</a></li>
            </ul>
          </div>
      - text: |
          <div class="footer-section">
            <div class="footer-heading">Training</div>
            <ul>
              <li><a href="/training/program/learning-paths.qmd">Learning paths</a></li>
              <li><a href="/training/training.qmd#available-courses">Courses</a></li>
              <li><a href="/training/training.qmd#available-videos">Videos</a></li>
            </ul>
          </div>
      - text: |
          <div class="footer-section">
            <div class="footer-heading">Support</div>
            <ul>
              <li><a href="/support/troubleshooting.qmd">Troubleshooting</a></li>
              <li><a href="/faq/faq.qmd">FAQ</a></li>
              <li><a href="/support/support.qmd">Get help</a></li>
            </ul>
          </div>
      - text: |
          <div class="footer-section">
            <div class="footer-heading">Community</div>
            <ul>
              <li><a href="https://github.com/validmind/documentation"><i class="fa-brands fa-github"></i> GitHub</a></li>
              <li><a href="https://www.linkedin.com/company/validmind"><i class="fa-brands fa-linkedin"></i> LinkedIn</a></li>
              <li><a href="https://validmind.com/events/"><i class="fa-solid fa-calendar-check"></i> Events</a></li>
              <li><a href="https://validmind.com/blog/"><i class="fa-solid fa-blog"></i> Blog</a></li>
            </ul>
          </div>
    right: |

format:
  html:
    grid:
      body-width: 1000px
      sidebar-width: 375px
    footnotes-hover: true
    reference-location: margin
    code-overflow: wrap
    code-annotations: below
    theme:
      light: [cosmo, theme.scss]
    # dark: [cosmo, theme-dark.scss]
    mainfont: Inter
    css: styles.css
    toc: true
    link-external-newwindow: true
    link-external-icon: true
    callout-appearance: simple
    link-external-filter: '^https:\/\/(docs\.validmind\.ai|docs-staging\.validmind\.ai|docs-demo\.vm\.validmind\.ai)\/.*'
    lightbox: true

filters:
  - tachyons
  - preview
