project:
  type: website
  post-render: make python-docs
website:
  favicon: validmind.png
  title: "ValidMind"
  google-analytics: G-S46CKWPNSS
  search: 
    location: sidebar
    type: textbox
  page-navigation: true
#  comments:
#    hypothesis: 
#      theme: clean
  
#  repo-url: https://github.com/validmind/documentation/
#  repo-subdir: site/
#  repo-actions: [edit, issue]

  navbar:
    logo: guide/ValidMind-logo-color.svg
    background: white
    title: false
    pinned: true

    left:
      - text: "Get Started"
        file: guide/get-started.qmd
      - text: "Guides"
        file: guide/guide.qmd
      - text: "{{< fa cube >}} Developer Framework"
        menu:
        - text: "{{< fa rocket >}} Get Started"
          file: guide/get-started-developer-framework.qmd
        - text: "{{< fa cube >}} Supported Models"
          file: guide/supported-models.qmd
        - text: "---"
        - text: "{{< fa code >}} CODE SAMPLES"
        - text: "{{< fa book >}} QuickStart · `Customer Churn` · `Binary Classification`"
          file: notebooks/Quickstart_Customer Churn_full_suite.ipynb
        - text: "{{< fa book >}} Full Introduction · `Customer Churn` · `Binary Classification`"
          file: notebooks/Introduction_Customer_Churn.ipynb
        - text: "{{< fa book >}} Forecasting · `Credit Risk - Load Underwriting` · `Time Series`"
          file: notebooks/time_series/tutorial_time_series_forecasting.ipynb
        - text: "{{< fa book >}} Natural Language Processing · `Sensitivity Analysis` · `Binary Classification`"
          file: notebooks/nlp/nlp_sentiment_analysis_catboost_demo.ipynb
        - text: "{{< fa code >}} Try it on Jupyter Hub!"
          file: https://jupyterhub.validmind.ai/
        - text: "---"
        - text:  "{{< fa vial >}} TESTING"
        - text: "{{< fa vials >}} Supported Tests, Test Plans & Test Suites"
          file: guide/testing-overview.qmd
        - text: "---"
        - text: "{{< fa book >}} REFERENCE"
        - text: "Developer Framework {{< fa external-link >}}"
          file: validmind/validmind.html
          target: _blank
      - text: "FAQ"
        file: guide/faq.qmd
      - text: "Support"
        file: guide/support.qmd

  sidebar: 
    - title: "Home"
      style: docked
      collapse: true
      collapse-level: 3
      collapse-below: sm

      contents:
        - index.qmd

    - title: "Get Started"
      contents:
        - text: "Get Started"
          file: guide/get-started.qmd
        - text: "---"
        - text: "Quickstart"
          file: guide/quickstart.qmd
        - text: "Explore the Developer Framework — 10 minutes"
          contents:
          - guide/try-developer-framework-with-jupyterhub.qmd
          - guide/try-developer-framework-with-docker.qmd
          - guide/try-developer-framework-with-colab.qmd
        - text: "Explore the Platform UI — 15 minutes"
          contents:
          - guide/explore-example-documentation-project.qmd
          - guide/create-your-first-documentation-project.qmd
          - guide/upload-to-documentation-project.qmd
        - guide/next-steps.qmd
#        - text: "Join Our Community" 
#         file: guide/join-community.qmd
        - text: "---"
        - file: guide/overview.qmd
          contents:
#          - guide/architecture.qmd
#          - guide/cloud-platforms.qmd
          - guide/editions-and-features.qmd
          - text: "Software license agreement"
            file: guide/license-agreement.qmd
        - text: "Releases"
          contents:
            - text: "Join our closed beta!"
              file: guide/join-closed-beta.qmd
            - text: "September 26, 2023"
              file: releases/2023-sep-26/highlights.qmd
              contents:
                - text: "Enhancements"
                  file: releases/2023-sep-26/enhancement.qmd
                - text: "Documentation updates"
                  file: releases/2023-sep-26/documentation.qmd
            - text: "August 15, 2023"
              file: releases/2023-aug-15/highlights.qmd
            - guide/release-notes-2023-jul-24.qmd
            - guide/release-notes-2023-jun-22.qmd
            - guide/release-notes-2023-may-30.qmd
        - text: "---"
        - guide/glossary.qmd
#        - file: guide/mrm.qmd
#          contents:
#          - guide/mrm-three-lines-of-defense.qmd
#          - guide/mrm-lifecyle.qmd
 
    - title: "Guides"
      contents:
        - guide/guide.qmd
        - text: "---"
        - guide/login.qmd
        - text: "---"
        - text: "Administrators"
          contents:
          - guide/configure-aws-privatelink.qmd
#          - guide/configure-sso.qmd
#          - guide/configure-workflows.qmd
#          - guide/configure-templates.qmd
          - guide/edit-templates.qmd
#          - guide/configure-test-plans.qmd
#          - guide/manage-users-and-roles.qmd
        - text: "---"
        - text: "Model developers"
          contents:
          - guide/register-models.qmd
          - guide/edit-model-inventory-fields.qmd
          - guide/create-documentation-project.qmd
          - guide/document-models-with-framework.qmd
          - guide/add-content-blocks.qmd
          - guide/load-credentials-to-env-file.qmd
          - guide/document-models-with-ui.qmd
          - guide/swap-documentation-project-templates.qmd
          - guide/view-all-test-plans.qmd
          - guide/view-templates.qmd
          - guide/review-data-streams-and-audit-trails.qmd
          - guide/view-documentation-guidelines.qmd
          - guide/review-documentation-project.qmd
          - guide/submit-for-approval.qmd
          - guide/export-documentation.qmd
        - text: "---"
        - text: "Model validators"
          contents:
  #       - guide/assign-model-validators.qmd
          - guide/collaborate-on-documentation-projects.qmd
          - guide/comment-on-documentation-projects.qmd
          - guide/work-with-validation-reports.qmd
          - guide/swap-documentation-project-templates.qmd
  #       - guide/create-project-findings.qmd
  #       - guide/manage-project-findings.qmd
          - guide/view-validation-guidelines.qmd
          - guide/submit-for-approval.qmd
  #        - guide/export-documentation.qmd

    - title: "Developer Framework"
      contents:
        - guide/get-started-developer-framework.qmd
        - guide/supported-models.qmd
        - text: "---"
        - guide/install-and-initialize-developer-framework.qmd 
        - text: "---"
#       - guide/dataset-object.qmd
#       - guide/model-object.qmd
        - text: "Tests, test plans & test suites"
          file: guide/testing-overview.qmd
          contents: 
          - notebooks/how_to/run_a_template.ipynb
          - notebooks/external_test_providers_demo.ipynb
          - notebooks/how_to/implementing_custom_tests.ipynb
          - notebooks/how_to/explore_test_suites_test_plans_and_tests.ipynb
          - notebooks/how_to/run_a_test.ipynb
          - notebooks/how_to/run_a_test_plan.ipynb
          - notebooks/how_to/run_a_test_suite.ipynb
        - text: "---"
        - text: "Code samples"
          file: guide/samples-jupyter-notebooks.qmd
          contents:
          - notebooks/Quickstart_Customer Churn_full_suite.ipynb
          - notebooks/Introduction_Customer_Churn.ipynb
          - notebooks/time_series/tutorial_time_series_forecasting.ipynb
          - text: "Sensitivity Analysis: Natural Language Processing Analysis & Binary Classification using CatBoost"
            file: notebooks/nlp/nlp_sentiment_analysis_catboost_demo.ipynb
#          - notebooks/probability_of_default/credit_risk_scorecard_demo.ipynb
#          - text: "Probability of Default Model"
#            file: notebooks/probability_of_default/probability_of_default_validmind.ipynb
        - text: "---"
        - test: "Reference"
          file: guide/reference.qmd
          contents:
          - text: "ValidMind Developer Framework Reference {{< fa external-link >}}"
            file: validmind/validmind.html
            target: _blank

    - title: "FAQ"
      contents:
        - guide/faq.qmd
        - text: "---"
        - guide/faq-models.qmd
        - guide/faq-inventory.qmd
        - guide/faq-documentation.qmd
        - guide/faq-testing.qmd
        - guide/faq-integrations.qmd
        - guide/faq-privacy.qmd

    - title: "Support"
      contents:
        - guide/support.qmd
        - text: "---"
        - guide/troubleshooting.qmd

  page-footer:
    background: "#DE257E"
    left: "_© Copyright 2023 ValidMind Inc All Rights Reserved._"
    right:
      - text: "Privacy Policy"
        href: https://validmind.com/privacy-policy/
 #     - text: " | "
      - text: "Terms of Use"
        href: https://validmind.com/terms-of-use/
#      - text: " | "
#      - icon: github
#        href: https://github.com/validmind/documentation
#      - text: " | "
      - icon: linkedin
        href: https://www.linkedin.com/company/validmind/

format:
  html:
    theme: 
      light: [cosmo, theme.scss]
#      dark: [cosmo, theme-dark.scss]
    mainfont: Inter
    css: styles.css
    link-external-newwindow: true
    link-external-icon: true
    toc: true
    toc-expand: 2
    callout-appearance: simple