/* Fix ValidMind logo size and alignment */
.navbar-brand img {
    height: 100%;
    max-height: 25px;
    margin-top: -10px;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #DE257E;
}

div.sidebar-item-container .active {
  color: #373a3c;
  background-color: #F7E4EE;
  border-radius: 10px;
}

.sidebar nav[role=doc-toc] ul>li>a.active {
  color: #DE257E;
}

/* Change link color to #373a3c */
a {
    color: #373a3c;
}

a:hover {
  color: #DE257E;
}
