/*-- scss:defaults --*/
// Base dark document colors
$link-color: #cccccc;

$body-bg: hsl(0, 0%, 12%);

$body-color: #cccccc;

$navbar-bg: $body-bg;

// Base dark ValidMind colors
$navbar-hl: #de257e;

$sidebar-hl: #de257e;

$toc-active-border: #de257e;

// Code blocks
$code-block-bg-alpha: -.8;

/* Add highlighting for active sidebar item */
.sidebar-item-container .active {
    color: #373a3c;
    background-color: #de257e;
    padding: .5rem .5rem;
    width: 100%;
    border-radius: 8px;
    margin-left: -0.5rem;
  }
  