/*-- scss:defaults --*/
// Base ValidMind colors
$body-color: #222425;
$link-color: $body-color;
$navbar-fg: $body-color;

$navbar-hl: #de257e;
$sidebar-hl: #de257e;

$toc-active-border: #de257e;

$mermaid-fg-color: de257e;
$mermaid-edge-color: #373a3c;
$mermaid-node-bg-color: #f7e4ee;
$mermaid-node-fg-color: #373a3c;
$mermaid-fg-color--lighter: lighten($body-color, 30%);
$mermaid-fg-color--lightest: lighten($body-color, 40%);
$mermaid-label-bg-color: #f7e4ee;
$mermaid-label-fg-color: #373a3c;

/* Add highlighting for active sidebar item */
.sidebar-item-container .active {
    color: #373a3c;
    background-color: #f7e4ee;
    padding: .5rem .5rem;
    width: 100%;
    border-radius: 8px;
    margin-left: -0.5rem;
  }

  div.callout.callout {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    border: 1px solid #222425;
    border-left-color: #ff0039;
    background: #faf0f5;
  }
  
  .card {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    border-radius: 5px; 
    border: 1px solid #222425;
  }
  
  .card-title {
    padding-bottom: 0.2rem;
  }
  