/*-- scss:defaults --*/

// ValidMind brand color palette
$validmind-pink: #DE257E;
$validmind-teal: #083E44;
$validmind-dark-teal: #196972;
$validmind-light-teal: #3E6C69;
$validmind-bg-light: #FAFBFB;
$validmind-bg-hover: #EAF8FA;
$validmind-text-muted: #585F60;

// Base link styles
$link-color: #DE257E;
$link-hover-color: $link-color;
$link-decoration: none;
$link-hover-decoration: underline 2px solid $validmind-teal !important; // Bootstrap rule not default 

// Code block color variables
$code-color: $validmind-teal;
$code-block-bg: rgba($validmind-teal, 0.1);  // Bootstrap rule not default 
$code-block-padding:         15px;
$code-block-border-radius:   5px;


// Button color variables
$btn-primary-bg: $validmind-pink;
$btn-primary-border: $validmind-pink;

// Mermaid theme variables
$mermaid-node-bg-color: #FAFBFB;
$mermaid-node-fg-color: #083E44;
$mermaid-edge-color: #083E44;
$mermaid-fg-color: #36454F;
$mermaid-fg-color--lighter: #083E44;
$mermaid-fg-color--lightest: #FAFBFB;
$mermaid-label-bg-color: #FAFBFB;
$mermaid-label-fg-color: #36454F;

// Navbar color variables
$navbar-bg: white;
$navbar-brand-color: $validmind-pink;
$navbar-nav-link-color: $validmind-teal;
$navbar-nav-link-hover-color: $validmind-pink;

// Sidebar color variables  
$sidebar-bg: $validmind-bg-light;
$sidebar-fg: $validmind-text-muted;
$sidebar-hl: $validmind-pink;

// TOC color variables
$toc-color: $validmind-text-muted;
$toc-active-border: $validmind-pink;

// Import modular SCSS files 
@import 'assets/styles/banner';
@import 'assets/styles/navbar';
@import 'assets/styles/sidebar';
@import 'assets/styles/toc';
@import 'assets/styles/mermaid';
@import 'assets/styles/bug-fixes';
@import 'assets/styles/codeblocks';
@import 'assets/styles/termsfeed';
@import 'assets/styles/buttons';
@import 'assets/styles/links';
@import 'assets/styles/dropdowns';
@import 'assets/styles/footer';

