/*-- scss:defaults --*/
// Base ValidMind colors
$body-color: #222425;
$link-color: $body-color;
$navbar-fg: $body-color;

$navbar-hl: #de257e;
$sidebar-hl: #de257e;

$toc-active-border: #de257e;

$menu-text: #de257e;

$mermaid-fg-color: $body-color;
/*$mermaid-bg-color: #de257e;*/
$mermaid-edge-color: #373a3c;
$mermaid-node-bg-color: #f7e4ee;
$mermaid-node-fg-color: #f7e4ee;
$mermaid-fg-color--lighter: lighten($body-color, 30%);
$mermaid-fg-color--lightest: lighten($body-color, 40%);
/*mermaid-font-family: $font-family-sans-serif;*/
$mermaid-label-bg-color: #f7e4ee;
$mermaid-label-fg-color: #373a3c;

/* Add highlighting for active sidebar item */
.sidebar-item-container .active {
    color: #373a3c;
    background-color: #f7e4ee;
    padding: .5rem .5rem;
    width: 100%;
    border-radius: 8px;
    margin-left: -0.5rem;
  }
