/*-- scss:defaults --*/
// Base dark document colors
$link-color: #cccccc;

$body-bg: hsl(0, 0%, 12%);

$body-color: #cccccc;

$navbar-bg: $body-bg;

// Base dark ValidMind colors
$navbar-hl: #de257e;

$sidebar-hl: #de257e;

$toc-active-border: #de257e;

// Code blocks
$code-block-bg-alpha: -.8;
