/*-- scss:defaults --*/
$link-color: #3E6C69;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

.reveal {
  font-family: 'Inter', sans-serif;
}

.reveal #title-slide .quarto-title-authors {
  margin-left: 0;
}

.reveal .title-content {
    text-align: left;
    margin: 20px;
}

.reveal .title-content img.check-icon {
    display: block;
    margin-bottom: 20px;
    width: 100px;
    height: auto;
}

.reveal #title-slide {
  text-align: left;
}

.reveal #title-slide .title {
  margin-left: 0;
}

.reveal #title-slide .subtitle {
  margin-left: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reveal #title-slide .subtitle img {
  position: relative;
  top: -80px;
}

.reveal #title-slide .subtitle small {
  position: relative;
  top: -60px;
}

.reveal .slide-logo {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1000;
  width: 124px !important;
  height: 89px !important;
  max-width: none !important;
  max-height: none !important;
}

.reveal .hide-logo .slide-logo {
  display: none;
}

.reveal .slide .screenshot {
    border: 1px solid #042426;
    border-right-width: 2px;
    border-bottom-width: 3px;
    border-radius: 8px;
  }

.reveal .slide .button {
    color: #3E6C69;
    background-color: #white;
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #3E6C69;
    transition: color 0.15s ease-in, background-color 0.15s ease-in;
    font-weight: bold;
    text-align: center;
    font-size: 32px;
  }

.reveal .slide .button:hover {
    text-decoration: none;
    filter: brightness(125%);
  }

.reveal .slide .overlay, .reveal .footer .overlay {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
  border: 1px solid #083E44;
  border-left-width: 5px;
  background: #FAFAFA;
  border-radius: 5px;
  color: #222222;
}

.reveal .slide .overlay strong, .reveal .slide .overlay b {
  color: #083E44; 
}

.reveal .slide .embed {
  border: 1px solid #042426;
  background: #EAF8FA;
  border-radius: 5px;
}

.reveal .slide .embed strong, .reveal .slide .embed b {
  color: #042426 !important; 
}

.reveal .footer a {
  color: #DE257E !important;
}

.reveal .progress {
  color: #DE257E !important;
}

.reveal .slide-menu-button {
  background-color: #EAF8FA;
  padding: 3px;
  border-radius: 3px;
  margin-bottom: 5px;
}

.reveal .slide .green-bg {
  background-color: #bbe1afff;
  padding: 5px;
  border-radius: 3px;
  color: #0f3b02ff;
  font-size: smaller;
}

.reveal .slide .green {
  color: green;
}

.reveal .slide .bubble, .reveal .footer .bubble {
  border: 1px solid #042426;
  color: #042426;
  padding: 5px;
  border-radius: 25px;
  font-size: smaller;
  line-height: 2.5em;
}

.reveal code {
  color: #DE257E !important;
}

.reveal .slide h4 {
  color: #083E44; 
}

.reveal .slide h5 {
  color: #083E44; 
  font-weight: normal;
}

.reveal .slide figcaption {
  text-align: center;
}

.reveal .slide .f2 {
  color: #DE257E;
}

.reveal .slide strong, .reveal .slide b {
  color: #083E44; 
}

.slide-menu-wrapper .slide-menu {
  background-color: #042426 !important
}

.slide-menu-wrapper .active-menu-panel li.selected {
  background-color: #DE257E !important
}

.reveal .screenshot {
  border: 1px solid #083E44;
  border-radius: 8px;
  border-right-width: 2px;
  border-bottom-width: 3px;
}

.reveal .bl {
  border-left: 4px solid #083E44;
}

.reveal hr {
  border: 0;
  border-top: 1px solid #3E6C69;
  height: 0;
  margin: 20px 0;
}

.reveal .controls[data-controls-layout="bottom-right"] {
  bottom: 0px;
  right: 5px;
  position: absolute;
}

.playback {
  transform: translate(50px, 10px);
  position: relative;
}

.reveal section.has-dark-background a, 
section.has-dark-background a:hover {
    color: #ffffff !important;
}
