.muted {
  opacity: 0.6;
}

p code:not(.sourceCode), li code:not(.sourceCode), td code:not(.sourceCode) {
  font-size: 0.9em;
}

.signature {
  font-family: 'JetBrains Mono', 'Fira Code', Menlo, Monaco, 'Courier New', monospace;
  background-color: #083E4420;
  padding: 0 25px;
  border-radius: 5px;
  margin: 1em 0;
  white-space: pre-wrap;
  overflow-x: auto;
  font-size: 0.9em;
  line-height: 1.5;
}

.signature .param {
  margin-bottom: 0px;
}

.signature .params {
  display: block;
  margin-left: 20px;
  margin-bottom: 0px;
}

.signature .muted {
  display: inline;
  white-space: nowrap;
}

.signature p {
  margin-bottom: 0;
}

.signature .kw {
  color: #008080;
  font-weight: bold;
  padding-right: 4px;
}

.signature .name {
  color: #de257e;
  font-weight: bold;
  padding-right: 2px;
}

.signature .n {
  color: #003B4F;
}

.signature .o {
  color: #5E5E5E;
  padding-left: 2px;
  padding-right: 4px;
}

.signature .p {
  padding-right: 2px;
}

.signature .kc {
  color: #008080;
  font-weight: bold;
}

.signature .bp {
  color: #008080;
  font-weight: bold;
}

.signature .nb {
  color: #008080;
  font-weight: bold;
}

.signature .s1 {
  color: #8225de;
}

.signature .ann {
  color: #20794D;
}

.signature .decorators {
  display: block; 
  margin-bottom: -20px;
}

.signature .decorator {
  display: inline-block;
  color: #5E5E5E;
  font-size: 0.9em;
}
