/* Code block and syntax highlighting styles */

/* General code styling */
code {
  color: #083E44;
}

/* Pre-formatted code blocks with language-specific styling */
pre, pre.python, pre.bash, pre.yaml, pre.markdown {
  background-color: #083E4420;
  padding: 15px;
  border-radius: 5px;
}
