:root {
    --gray-200: rgba(226, 232, 240, 1);
    --text-lg-regular-font-family: "Inter", Helvetica;
    --text-lg-regular-font-weight: 400;
    --text-lg-regular-font-size: 16px;
    --text-lg-regular-letter-spacing: 0px;
    --text-lg-regular-line-height: 24px;
    --text-lg-regular-font-style: normal;
    --misc-button-md-default-font-family: "Inter", Helvetica;
    --misc-button-md-default-font-weight: 700;
    --misc-button-md-default-font-size: 14px;
    --misc-button-md-default-letter-spacing: -0.10000000149011612px;
    --misc-button-md-default-line-height: 20px;
    --misc-button-md-default-font-style: normal;
    --text-md-regular-font-family: "Inter", Helvetica;
    --text-md-regular-font-weight: 400;
    --text-md-regular-font-size: 14px;
    --text-md-regular-letter-spacing: 0px;
    --text-md-regular-line-height: 20px;
    --text-md-regular-font-style: normal;
    --text-xs-semibold-font-family: "Inter", Helvetica;
    --text-xs-semibold-font-weight: 600;
    --text-xs-semibold-font-size: 10px;
    --text-xs-semibold-letter-spacing: 0px;
    --text-xs-semibold-line-height: 16px;
    --text-xs-semibold-font-style: normal;
    --heading-2xl-font-family: "Inter", Helvetica;
    --heading-2xl-font-weight: 600;
    --heading-2xl-font-size: 21px;
    --heading-2xl-letter-spacing: -0.20000000298023224px;
    --heading-2xl-line-height: 26px;
    --heading-2xl-font-style: normal;
    --text-md-medium-font-family: "Inter", Helvetica;
    --text-md-medium-font-weight: 500;
    --text-md-medium-font-size: 14px;
    --text-md-medium-letter-spacing: 0px;
    --text-md-medium-line-height: 18px;
    --text-md-medium-font-style: normal;
    --text-sm-regular-font-family: "Inter", Helvetica;
    --text-sm-regular-font-weight: 400;
    --text-sm-regular-font-size: 12px;
    --text-sm-regular-letter-spacing: 0px;
    --text-sm-regular-line-height: 18px;
    --text-sm-regular-font-style: normal;
    --text-xs-regular-font-family: "Inter", Helvetica;
    --text-xs-regular-font-weight: 400;
    --text-xs-regular-font-size: 10px;
    --text-xs-regular-letter-spacing: 0px;
    --text-xs-regular-line-height: 16px;
    --text-xs-regular-font-style: normal;
    --text-sm-semibold-font-family: "Inter", Helvetica;
    --text-sm-semibold-font-weight: 700;
    --text-sm-semibold-font-size: 12px;
    --text-sm-semibold-letter-spacing: 0px;
    --text-sm-semibold-line-height: 18px;
    --text-sm-semibold-font-style: normal;
    --kbd-inner: ;
  }
  