.doc-landing {
    width: 1727px;
    height: 1272px;
    background-color: #ffffff;
    overflow: hidden;
  }
  
  .doc-landing .page-container {
    display: flex;
    width: 1728px;
    align-items: center;
    background-color: #edf9fa;
    flex-direction: column;
    position: relative;
  }
  
  .doc-landing .gradient {
    position: absolute;
    width: 1728px;
    height: 790px;
    top: 281px;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  }
  
  .doc-landing .alert {
    display: flex;
    height: 36px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #44969f;
  }
  
  .doc-landing .frame {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .doc-landing .button-icon {
    display: inline-flex;
    gap: 4px;
    padding: 4px;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
    border-radius: 4px;
  }
  
  .doc-landing .img {
    position: relative;
    width: 16px;
    height: 16px;
  }
  
  .doc-landing .EU-AI-act-compliance {
    position: relative;
    width: 1385px;
    margin-top: -1.00px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
  }
  
  .doc-landing .text-wrapper {
    font-weight: var(--text-lg-regular-font-weight);
    line-height: var(--text-lg-regular-line-height);
    font-family: var(--text-lg-regular-font-family);
    font-style: var(--text-lg-regular-font-style);
    letter-spacing: var(--text-lg-regular-letter-spacing);
    font-size: var(--text-lg-regular-font-size);
  }
  
  .doc-landing .span {
    line-height: 24px;
  }
  
  .doc-landing .header {
    display: flex;
    height: 74px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 48px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px #063a3b1a;
  }
  
  .doc-landing .validmind-MASTER {
    position: relative;
    width: 171px;
    height: 30px;
  }
  
  .doc-landing .div {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .doc-landing .button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    min-height: 40px;
    gap: 8px;
    padding: 8px 16px;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
    border-radius: 4px;
  }
  
  .doc-landing .label {
    font-weight: 400;
    color: #196972;
    line-height: 14px;
    position: relative;
    width: fit-content;
    font-family: "Inter", Helvetica;
    font-size: 14px;
  }
  
  .doc-landing .text-wrapper-2 {
    font-weight: var(--misc-button-md-default-font-weight);
    letter-spacing: var(--misc-button-md-default-letter-spacing);
    line-height: var(--misc-button-md-default-line-height);
    font-family: var(--misc-button-md-default-font-family);
    font-style: var(--misc-button-md-default-font-style);
    font-size: var(--misc-button-md-default-font-size);
  }
  
  .doc-landing .button-2 {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    min-height: 40px;
    gap: 8px;
    padding: 8px 16px;
    background-color: #196972;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
    border-radius: 4px;
  }
  
  .doc-landing .label-2 {
    font-weight: var(--misc-button-md-default-font-weight);
    color: #ffffff;
    letter-spacing: var(--misc-button-md-default-letter-spacing);
    line-height: var(--misc-button-md-default-line-height);
    white-space: nowrap;
    position: relative;
    width: fit-content;
    font-family: var(--misc-button-md-default-font-family);
    font-size: var(--misc-button-md-default-font-size);
    font-style: var(--misc-button-md-default-font-style);
  }
  
  .doc-landing .body {
    display: flex;
    flex-direction: column;
    width: 1730px;
    height: 961px;
    align-items: center;
    gap: 10px;
    position: relative;
    margin-left: -1.00px;
    margin-right: -1.00px;
    overflow: hidden;
  }
  
  .doc-landing .container {
    display: flex;
    flex-direction: column;
    width: 1024px;
    height: 2156px;
    align-items: center;
    position: relative;
  }
  
  .doc-landing .search {
    flex-direction: column;
    height: 140px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    align-self: stretch;
    width: 100%;
    display: flex;
    position: relative;
  }
  
  .doc-landing .search-master {
    width: 480px;
    align-items: flex-start;
    flex: 0 0 auto;
    border-radius: 6px;
    display: flex;
    position: relative;
  }
  
  .doc-landing .frame-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 8px 6px 16px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    margin-top: -2.00px;
    margin-bottom: -2.00px;
    margin-left: -2.00px;
    margin-right: -2.00px;
    background-color: #ffffff;
    border-radius: 6px;
    border: 2px solid;
    border-color: #083e44;
  }
  
  .doc-landing .frame-3 {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .doc-landing .icon-searchicon {
    position: relative;
    width: 14px;
    height: 14px;
  }
  
  .doc-landing .text-placeholder {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--text-md-regular-font-family);
    font-weight: var(--text-md-regular-font-weight);
    color: #7d8686;
    font-size: var(--text-md-regular-font-size);
    letter-spacing: var(--text-md-regular-letter-spacing);
    line-height: var(--text-md-regular-line-height);
    white-space: nowrap;
    font-style: var(--text-md-regular-font-style);
  }
  
  .doc-landing .shortcut {
    position: relative;
    width: 20px;
    height: 20px;
  }
  
  .doc-landing .kbd {
    display: flex;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 2px 4px;
    position: relative;
    background-color: #f1f5f5;
    border-radius: 6px;
    border: 1px solid;
    border-color: #de267e;
  }
  
  .doc-landing .content {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--text-xs-semibold-font-family);
    font-weight: var(--text-xs-semibold-font-weight);
    color: #242728;
    font-size: var(--text-xs-semibold-font-size);
    letter-spacing: var(--text-xs-semibold-letter-spacing);
    line-height: var(--text-xs-semibold-line-height);
    white-space: nowrap;
    font-style: var(--text-xs-semibold-font-style);
  }
  
  .doc-landing .page-container-2 {
    display: inline-flex;
    align-items: flex-start;
    flex: 0 0 auto;
    box-shadow: 0px 0px 8px #083e440d;
    flex-direction: column;
    position: relative;
  }
  
  .doc-landing .content-primary {
    display: flex;
    flex-direction: column;
    width: 1024px;
    align-items: flex-start;
    gap: 10px;
    padding: 56px 56px 24px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 8px 8px 0px 0px;
  }
  
  .doc-landing .heros {
    gap: 24px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    position: relative;
  }
  
  .doc-landing .heros-2 {
    flex-direction: column;
    height: 232px;
    gap: 18px;
    flex: 1;
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    position: relative;
  }
  
  .doc-landing .frame-4 {
    display: inline-flex;
    gap: 16px;
    flex: 0 0 auto;
    margin-right: -5.33px;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  
  .doc-landing .icon {
    width: 293.33px;
    align-items: flex-start;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }
  
  .doc-landing .illustration {
    position: relative;
    width: 45.88px;
    height: 47.12px;
  }
  
  .doc-landing .overlap-group {
    position: relative;
    width: 44px;
    height: 44px;
    border-radius: 22.25px;
    border: 1px solid;
    border-color: #083e44;
  }
  
  .doc-landing .overlap {
    position: absolute;
    width: 44px;
    height: 25px;
    top: 19px;
    left: 0;
    border-radius: 22.25px / 12.56px;
    border: 1px solid;
    border-color: #083e44;
  }
  
  .doc-landing .overlap-2 {
    position: absolute;
    width: 44px;
    height: 13px;
    top: 12px;
    left: 0;
  }
  
  .doc-landing .ellipse {
    position: absolute;
    width: 44px;
    height: 13px;
    top: 1px;
    left: 0;
    border-radius: 22.25px / 6.31px;
    border: 1px solid;
    border-color: #083e44;
  }
  
  .doc-landing .ellipse-2 {
    position: absolute;
    width: 20px;
    height: 7px;
    top: 6px;
    left: 12px;
    border-radius: 9.84px / 3.36px;
    border: 1px solid;
    border-color: #083e44;
  }
  
  .doc-landing .ellipse-3 {
    position: absolute;
    width: 3px;
    height: 3px;
    top: 6px;
    left: 15px;
    background-color: #de267e;
    border-radius: 1.35px;
  }
  
  .doc-landing .ellipse-4 {
    position: absolute;
    width: 3px;
    height: 3px;
    top: 0;
    left: 30px;
    background-color: #de267e;
    border-radius: 1.35px;
  }
  
  .doc-landing .ellipse-5 {
    position: absolute;
    width: 3px;
    height: 3px;
    top: -1px;
    left: 28px;
    background-color: #de267e;
    border-radius: 1.35px;
  }
  
  .doc-landing .ellipse-6 {
    position: absolute;
    width: 3px;
    height: 3px;
    top: 6px;
    left: 3px;
    background-color: #de267e;
    border-radius: 1.35px;
  }
  
  .doc-landing .frame-5 {
    display: flex;
    width: 293px;
    padding: 0px 0px 8px;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  
  .doc-landing .div-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .doc-landing .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--heading-2xl-font-family);
    font-weight: var(--heading-2xl-font-weight);
    color: #1e2020;
    font-size: var(--heading-2xl-font-size);
    letter-spacing: var(--heading-2xl-letter-spacing);
    line-height: var(--heading-2xl-line-height);
    white-space: nowrap;
    font-style: var(--heading-2xl-font-style);
  }
  
  .doc-landing .p {
    position: relative;
    width: 309px;
    margin-top: -1.00px;
    margin-right: -16.00px;
    font-family: var(--text-lg-regular-font-family);
    font-weight: var(--text-lg-regular-font-weight);
    color: #585f60;
    font-size: var(--text-lg-regular-font-size);
    letter-spacing: var(--text-lg-regular-letter-spacing);
    line-height: var(--text-lg-regular-line-height);
    font-style: var(--text-lg-regular-font-style);
  }
  
  .doc-landing .cta {
    all: unset;
    box-sizing: border-box;
    align-items: flex-start;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }
  
  .doc-landing .overlap-3 {
    position: relative;
    width: 44px;
    height: 44px;
    border-radius: 22.25px;
  }
  
  .doc-landing .group {
    position: absolute;
    width: 39px;
    height: 39px;
    top: 3px;
    left: 3px;
  }
  
  .doc-landing .overlap-group-2 {
    position: relative;
    height: 39px;
  }
  
  .doc-landing .rectangle {
    width: 18px;
    height: 37px;
    top: 1px;
    left: 11px;
    border-radius: 50px;
    position: absolute;
    border: 1px solid;
    border-color: #083e44;
  }
  
  .doc-landing .rectangle-2 {
    width: 18px;
    height: 37px;
    top: 1px;
    left: 11px;
    border-radius: 50px;
    transform: rotate(45deg);
    position: absolute;
    border: 1px solid;
    border-color: #083e44;
  }
  
  .doc-landing .rectangle-3 {
    width: 18px;
    height: 37px;
    top: 1px;
    left: 11px;
    border-radius: 50px;
    transform: rotate(90deg);
    position: absolute;
    border: 1px solid;
    border-color: #083e44;
  }
  
  .doc-landing .rectangle-4 {
    width: 18px;
    height: 37px;
    top: 1px;
    left: 11px;
    border-radius: 50px;
    transform: rotate(135deg);
    position: absolute;
    border: 1px solid;
    border-color: #083e44;
  }
  
  .doc-landing .ellipse-7 {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 0;
    left: 0;
    border-radius: 22.25px;
    border: 1px solid;
    border-color: #083e44;
  }
  
  .doc-landing .rectangle-5 {
    width: 10px;
    height: 10px;
    top: 17px;
    left: 17px;
    transform: rotate(-45deg);
    position: absolute;
    border: 1px solid;
    border-color: #083e44;
  }
  
  .doc-landing .rectangle-6 {
    width: 6px;
    height: 6px;
    top: 16px;
    left: 19px;
    transform: rotate(-45deg);
    position: absolute;
    border: 1px solid;
    border-color: #083e44;
  }
  
  .doc-landing .rectangle-7 {
    width: 6px;
    height: 6px;
    top: 23px;
    left: 19px;
    transform: rotate(-45deg);
    position: absolute;
    border: 1px solid;
    border-color: #083e44;
  }
  
  .doc-landing .ellipse-8 {
    position: absolute;
    width: 3px;
    height: 3px;
    top: 15px;
    left: 36px;
    background-color: #de267e;
    border-radius: 1.34px;
  }
  
  .doc-landing .ellipse-9 {
    position: absolute;
    width: 3px;
    height: 3px;
    top: 15px;
    left: 15px;
    background-color: #de267e;
    border-radius: 1.34px;
  }
  
  .doc-landing .ellipse-10 {
    position: absolute;
    width: 3px;
    height: 3px;
    top: 24px;
    left: 7px;
    background-color: #de267e;
    border-radius: 1.34px;
  }
  
  .doc-landing .ellipse-11 {
    position: absolute;
    width: 3px;
    height: 3px;
    top: 29px;
    left: 27px;
    background-color: #de267e;
    border-radius: 1.34px;
  }
  
  .doc-landing .ellipse-12 {
    position: absolute;
    width: 3px;
    height: 3px;
    top: 23px;
    left: 35px;
    background-color: #de267e;
    border-radius: 1.34px;
  }
  
  .doc-landing .ellipse-13 {
    position: absolute;
    width: 3px;
    height: 3px;
    top: 33px;
    left: 13px;
    background-color: #de267e;
    border-radius: 1.34px;
  }
  
  .doc-landing .overlap-group-3 {
    position: relative;
    width: 43px;
    height: 43px;
    border-radius: 21.62px;
  }
  
  .doc-landing .ellipse-14 {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 11px;
    left: 11px;
    border-radius: 10.88px;
    border: 1px dashed;
    border-color: #083e44;
  }
  
  .doc-landing .ellipse-15 {
    position: absolute;
    width: 3px;
    height: 3px;
    top: 10px;
    left: 20px;
    background-color: #de267e;
    border-radius: 1.4px;
  }
  
  .doc-landing .ellipse-16 {
    position: absolute;
    width: 3px;
    height: 3px;
    top: 20px;
    left: 31px;
    background-color: #de267e;
    border-radius: 1.4px;
    transform: rotate(90deg);
  }
  
  .doc-landing .ellipse-17 {
    position: absolute;
    width: 3px;
    height: 3px;
    top: 31px;
    left: 20px;
    background-color: #de267e;
    border-radius: 1.4px;
  }
  
  .doc-landing .ellipse-18 {
    position: absolute;
    width: 3px;
    height: 3px;
    top: 20px;
    left: 10px;
    background-color: #de267e;
    border-radius: 1.4px;
    transform: rotate(90deg);
  }
  
  .doc-landing .ellipse-19 {
    position: absolute;
    width: 29px;
    height: 29px;
    top: 7px;
    left: 7px;
    border-radius: 14.5px;
    border: 1px solid;
    border-color: #083e44;
  }
  
  .doc-landing .ellipse-20 {
    position: absolute;
    width: 37px;
    height: 37px;
    top: 3px;
    left: 3px;
    border-radius: 18.5px;
    border: 1px dashed;
    border-color: #083e44;
  }
  
  .doc-landing .ellipse-21 {
    position: absolute;
    width: 43px;
    height: 43px;
    top: 0;
    left: 0;
    border-radius: 21.62px;
    border: 1px solid;
    border-color: #083e44;
  }
  
  .doc-landing .content-tour {
    display: flex;
    width: 1024px;
    height: 252px;
    align-items: flex-start;
    gap: 36px;
    padding: 16px 24px 24px;
    position: relative;
    background-color: #ffffff;
  }
  
  .doc-landing .tour {
    width: 976px;
    height: 203px;
    align-items: flex-start;
    gap: 32px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .doc-landing .frame-wrapper {
    height: 194px;
    align-items: center;
    gap: 10px;
    padding: 0px 0px 32px;
    align-self: stretch;
    width: 100%;
    border-radius: 8px;
    border: 0px none;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .doc-landing .frame-6 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 0px 0px 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    margin-bottom: -80.00px;
    border-radius: 4px;
    border: 0px none;
  }
  
  .doc-landing .freckles {
    position: absolute;
    width: 975px;
    height: 235px;
    top: 0;
    left: 0;
  }
  
  .doc-landing .content-2 {
    display: flex;
    flex-direction: column;
    width: 452px;
    height: 218px;
    align-items: center;
    justify-content: center;
    padding: 18px 0px 0px;
    position: relative;
  }
  
  .doc-landing .frame-7 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
    margin-left: -9.50px;
    margin-right: -9.50px;
  }
  
  .doc-landing .frame-8 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .doc-landing .validmind-tour-wrapper {
    display: flex;
    flex-direction: column;
    width: 170px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffffff;
  }
  
  .doc-landing .validmind-tour {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 21px;
    line-height: 21px;
  }
  
  .doc-landing .text-wrapper-4 {
    font-weight: 600;
    color: #1e2020;
    letter-spacing: -0.04px;
    line-height: 26px;
  }
  
  .doc-landing .text-wrapper-5 {
    color: #de267e;
    letter-spacing: var(--heading-2xl-letter-spacing);
    line-height: var(--heading-2xl-line-height);
    font-family: var(--heading-2xl-font-family);
    font-style: var(--heading-2xl-font-style);
    font-weight: var(--heading-2xl-font-weight);
    font-size: var(--heading-2xl-font-size);
  }
  
  .doc-landing .copy {
    width: 471px;
    height: 63px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }
  
  .doc-landing .text-wrapper-6 {
    position: relative;
    width: 474px;
    margin-left: -1.50px;
    margin-right: -1.50px;
    font-family: var(--text-md-regular-font-family);
    font-weight: var(--text-md-regular-font-weight);
    color: #585f60;
    font-size: var(--text-md-regular-font-size);
    text-align: center;
    letter-spacing: var(--text-md-regular-letter-spacing);
    line-height: var(--text-md-regular-line-height);
    font-style: var(--text-md-regular-font-style);
  }
  
  .doc-landing .button-wrapper {
    all: unset;
    box-sizing: border-box;
    height: 43px;
    align-items: center;
    align-self: stretch;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }
  
  .doc-landing .button-3 {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    min-height: 40px;
    gap: 8px;
    padding: 8px 16px;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #196972;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
    border-radius: 4px;
  }
  
  .doc-landing .label-3 {
    font-weight: var(--misc-button-md-default-font-weight);
    color: #196972;
    letter-spacing: var(--misc-button-md-default-letter-spacing);
    line-height: var(--misc-button-md-default-line-height);
    white-space: nowrap;
    position: relative;
    width: fit-content;
    font-family: var(--misc-button-md-default-font-family);
    font-size: var(--misc-button-md-default-font-size);
    font-style: var(--misc-button-md-default-font-style);
  }
  
  .doc-landing .content-academy {
    display: flex;
    width: 1024px;
    height: 257px;
    align-items: flex-start;
    gap: 36px;
    padding: 36px 32px 24px;
    position: relative;
    background-color: #ffffff;
    border-radius: 8px 8px 0px 0px;
  }
  
  .doc-landing .tour-academy {
    width: 476px;
    height: 191px;
    align-items: flex-start;
    gap: 32px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .doc-landing .academy {
    display: flex;
    flex-direction: column;
    width: 476px;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 0px 0px 32px;
    position: relative;
    flex: 0 0 auto;
    margin-bottom: -54.00px;
    border-radius: 8px;
    overflow: hidden;
    border: 0px none;
  }
  
  .doc-landing .div-2 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .doc-landing .content-3 {
    display: flex;
    flex-direction: column;
    width: 475px;
    align-items: flex-start;
    gap: 24px;
    padding: 0px 16px 0px 24px;
    position: relative;
  }
  
  .doc-landing .frame-9 {
    display: flex;
    flex-direction: column;
    width: 449px;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
    margin-right: -14.00px;
  }
  
  .doc-landing .header-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .doc-landing .copy-2 {
    width: 376px;
    align-items: flex-start;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }
  
  .doc-landing .text-wrapper-7 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--text-md-regular-font-family);
    font-weight: var(--text-md-regular-font-weight);
    color: #585f60;
    font-size: var(--text-md-regular-font-size);
    letter-spacing: var(--text-md-regular-letter-spacing);
    line-height: var(--text-md-regular-line-height);
    font-style: var(--text-md-regular-font-style);
  }
  
  .doc-landing .cta-2 {
    all: unset;
    box-sizing: border-box;
    width: 301.33px;
    align-items: flex-start;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }
  
  .doc-landing .visual {
    position: relative;
    width: 167px;
    height: 213px;
    margin-left: -166px;
  }
  
  .doc-landing .all-releases {
    display: flex;
    flex-direction: column;
    height: 261px;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    margin-bottom: -64.00px;
  }
  
  .doc-landing .release {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    margin-bottom: -267.00px;
  }
  
  .doc-landing .text-wrapper-8 {
    position: relative;
    width: 387px;
    margin-top: -1.00px;
    font-family: var(--heading-2xl-font-family);
    font-weight: var(--heading-2xl-font-weight);
    color: #1e2020;
    font-size: var(--heading-2xl-font-size);
    letter-spacing: var(--heading-2xl-letter-spacing);
    line-height: var(--heading-2xl-line-height);
    font-style: var(--heading-2xl-font-style);
  }
  
  .doc-landing .cta-3 {
    align-items: flex-start;
    flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }
  
  .doc-landing .button-4 {
    display: inline-flex;
    min-height: 32px;
    gap: 8px;
    padding: 4px 16px;
    margin-right: -32.00px;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
    border-radius: 4px;
  }
  
  .doc-landing .activity {
    display: flex;
    flex-direction: column;
    height: 486px;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
  }
  
  .doc-landing .releases {
    display: flex;
    align-items: flex-start;
    gap: 11px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .doc-landing .activities-icon-wrapper {
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    padding: 4px;
    margin-top: -4.00px;
    margin-left: -4.00px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }
  
  .doc-landing .activities-icon {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 4px;
    position: relative;
    margin-top: -7.00px;
    margin-left: -7.00px;
    background-color: #44969f;
    border-radius: 12px;
  }
  
  .doc-landing .strings {
    display: flex;
    flex-direction: column;
    width: 772px;
    align-items: flex-start;
    padding: 2px 0px 0px;
    position: relative;
    margin-right: -359.00px;
  }
  
  .doc-landing .activity-2 {
    display: flex;
    flex-direction: column;
    width: 417px;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .doc-landing .release-date {
    display: inline-flex;
    height: 13px;
    align-items: center;
    gap: 4px;
    position: relative;
  }
  
  .doc-landing .text-activities {
    display: inline-flex;
    flex: 0 0 auto;
    margin-top: -5.50px;
    margin-bottom: -5.50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 3px 0px;
    position: relative;
  }
  
  .doc-landing .model-status-changed-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .doc-landing .model-status-changed {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #1e2020;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 14px;
  }
  
  .doc-landing .text-wrapper-9 {
    font-weight: var(--text-md-medium-font-weight);
    line-height: var(--text-md-medium-line-height);
    font-family: var(--text-md-medium-font-family);
    font-style: var(--text-md-medium-font-style);
    letter-spacing: var(--text-md-medium-letter-spacing);
    font-size: var(--text-md-medium-font-size);
  }
  
  .doc-landing .model-status-changed-2 {
    width: fit-content;
    font-weight: var(--text-md-medium-font-weight);
    font-size: var(--text-md-medium-font-size);
    white-space: nowrap;
    position: relative;
    margin-top: -1.00px;
    font-family: var(--text-md-medium-font-family);
    color: #1e2020;
    letter-spacing: var(--text-md-medium-letter-spacing);
    line-height: var(--text-md-medium-line-height);
    font-style: var(--text-md-medium-font-style);
  }
  
  .doc-landing .text-activities-2 {
    display: flex;
    height: 42px;
    align-self: stretch;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 3px 0px;
    position: relative;
  }
  
  .doc-landing .model-status-changed-3 {
    width: 401.5px;
    font-weight: var(--text-sm-regular-font-weight);
    font-size: var(--text-sm-regular-font-size);
    position: relative;
    margin-top: -1.00px;
    font-family: var(--text-sm-regular-font-family);
    color: #1e2020;
    letter-spacing: var(--text-sm-regular-letter-spacing);
    line-height: var(--text-sm-regular-line-height);
    font-style: var(--text-sm-regular-font-style);
  }
  
  .doc-landing .button-5 {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 113px;
    min-height: 40px;
    gap: 8px;
    padding: 8px 16px;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
    border-radius: 4px;
  }
  
  .doc-landing .label-4 {
    margin-left: -16.50px;
    margin-right: -16.50px;
    font-weight: var(--misc-button-md-default-font-weight);
    color: #196972;
    letter-spacing: var(--misc-button-md-default-letter-spacing);
    line-height: var(--misc-button-md-default-line-height);
    white-space: nowrap;
    position: relative;
    width: fit-content;
    font-family: var(--misc-button-md-default-font-family);
    font-size: var(--misc-button-md-default-font-size);
    font-style: var(--misc-button-md-default-font-style);
  }
  
  .doc-landing .footer {
    display: flex;
    height: 200px;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: transparent;
    background: linear-gradient(
      180deg,
      rgba(25, 105, 114, 1) 0%,
      rgba(38, 129, 139, 1) 100%
    );
  }
  
  .doc-landing .footer-block-wrapper {
    display: flex;
    flex-direction: column;
    width: 352px;
    height: 197px;
    align-items: flex-start;
    gap: 10px;
    padding: 24px 0px 0px 24px;
    position: relative;
  }
  
  .doc-landing .footer-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 11px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .doc-landing .validmind-MASTER-2 {
    position: relative;
    width: 113px;
    height: 20px;
  }
  
  .doc-landing .frame-10 {
    display: inline-flex;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .doc-landing .ellipse-22 {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 4px solid;
    border-color: #ffffff;
  }
  
  .doc-landing .frame-11 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
  }
  
  .doc-landing .text-wrapper-10 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--text-xs-regular-font-family);
    font-weight: var(--text-xs-regular-font-weight);
    color: #ffffff;
    font-size: var(--text-xs-regular-font-size);
    letter-spacing: var(--text-xs-regular-letter-spacing);
    line-height: var(--text-xs-regular-line-height);
    white-space: nowrap;
    font-style: var(--text-xs-regular-font-style);
  }
  
  .doc-landing .text-wrapper-11 {
    position: relative;
    width: fit-content;
    font-family: var(--text-xs-regular-font-family);
    font-weight: var(--text-xs-regular-font-weight);
    color: #ffffff;
    font-size: var(--text-xs-regular-font-size);
    letter-spacing: var(--text-xs-regular-letter-spacing);
    line-height: var(--text-xs-regular-line-height);
    white-space: nowrap;
    font-style: var(--text-xs-regular-font-style);
  }
  
  .doc-landing .frame-12 {
    display: inline-flex;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .doc-landing .text-wrapper-12 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--text-xs-semibold-font-family);
    font-weight: var(--text-xs-semibold-font-weight);
    color: #ffffff;
    font-size: var(--text-xs-semibold-font-size);
    letter-spacing: var(--text-xs-semibold-letter-spacing);
    line-height: var(--text-xs-semibold-line-height);
    white-space: nowrap;
    font-style: var(--text-xs-semibold-font-style);
  }
  
  .doc-landing .container-2 {
    display: inline-flex;
    height: 197px;
    align-items: flex-start;
    gap: 10px;
    padding: 24px 0px 0px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .doc-landing .footer-block-2 {
    display: flex;
    flex-direction: column;
    width: 220px;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    margin-bottom: -602.00px;
  }
  
  .doc-landing .text-wrapper-13 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--text-sm-semibold-font-family);
    font-weight: var(--text-sm-semibold-font-weight);
    color: #ffffff;
    font-size: var(--text-sm-semibold-font-size);
    letter-spacing: var(--text-sm-semibold-letter-spacing);
    line-height: var(--text-sm-semibold-line-height);
    white-space: nowrap;
    font-style: var(--text-sm-semibold-font-style);
  }
  
  .doc-landing .frame-13 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
    margin-right: -3876.00px;
  }
  
  .doc-landing .text-wrapper-14 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--text-sm-regular-font-family);
    font-weight: var(--text-sm-regular-font-weight);
    color: #ffffff;
    font-size: var(--text-sm-regular-font-size);
    letter-spacing: var(--text-sm-regular-letter-spacing);
    line-height: var(--text-sm-regular-line-height);
    white-space: nowrap;
    font-style: var(--text-sm-regular-font-style);
  }
  
  .doc-landing .text-wrapper-15 {
    position: relative;
    width: fit-content;
    font-family: var(--text-sm-regular-font-family);
    font-weight: var(--text-sm-regular-font-weight);
    color: #ffffff;
    font-size: var(--text-sm-regular-font-size);
    letter-spacing: var(--text-sm-regular-letter-spacing);
    line-height: var(--text-sm-regular-line-height);
    white-space: nowrap;
    font-style: var(--text-sm-regular-font-style);
  }
  
  .doc-landing .validmind-MASTER-3 {
    position: relative;
    width: 1355px;
    height: 107px;
  }
  
  .doc-landing .footer-block-3 {
    display: flex;
    flex-direction: column;
    width: 220px;
    align-items: flex-start;
    gap: 8px;
    position: relative;
  }
  
  .doc-landing .frame-14 {
    display: inline-flex;
    gap: 4px;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  
  .doc-landing .frame-15 {
    display: flex;
    width: 196px;
    height: 197px;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  