/*-- scss:defaults --*/
$link-color: #3E6C69;

section.has-dark-background a, 
section.has-dark-background a:hover {
    color: #ffffff !important;
}

.reveal .slide .screenshot {
    border: 1px solid #042426;
    border-right-width: 2px;
    border-bottom-width: 3px;
    border-radius: 8px;
  }

.reveal .slide .button {
    color: #3E6C69;
    background-color: white;
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #3E6C69;
    transition: color 0.15s ease-in, background-color 0.15s ease-in;
    font-weight: bold;
    text-align: center;
    font-size: 32px;
  }

.reveal .slide .button:hover {
    text-decoration: none;
    filter: brightness(125%);
  }

.reveal .slide .overlay, .reveal .footer .overlay {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
  border: 1px solid #083E44;
  border-left-width: 5px;
  background: #FAFAFA;
  border-radius: 5px;
  color: #222222;
}

.reveal .slide .overlay strong, .reveal .slide .overlay b {
  color: #083E44; 
}

.reveal .slide .embed {
  border: 1px solid #042426;
  background: #EAF8FA;
  border-radius: 5px;
}

.reveal .slide .embed strong, .reveal .slide .embed b {
  color: #042426 !important; 
}

.reveal .footer a {
  color: #DE257E !important;
}

.reveal .progress {
  color: #DE257E !important;
}

.reveal .slide-menu-button {
  background-color: #EAF8FA;
  padding: 3px;
  border-radius: 3px;
  margin-bottom: 5px;
}

.reveal .slide .green-bg {
  background-color: #bbe1afff;
  padding: 5px;
  border-radius: 3px;
  color: #0f3b02ff;
  font-size: smaller;
}

.reveal .slide .green {
  color: green;
}

.reveal .slide .bubble, .reveal .footer .bubble {
  border: 1px solid #042426;
  color: #042426;
  padding: 5px;
  border-radius: 25px;
  font-size: smaller;
  line-height: 2.5em;
}

.reveal code {
  color: #DE257E !important;
}

.reveal .slide h4 {
  color: #083E44; 
}

.reveal .slide h5 {
  color: #083E44; 
  font-weight: normal;
}

.slide-menu-wrapper .slide-menu {
  background-color: #042426 !important
}

.slide-menu-wrapper .active-menu-panel li.selected {
  background-color: #DE257E !important
}

.reveal .slide figcaption {
  text-align: center;
}

.gclose.gbtn {
  background-color: #083E44;
  border: 3px solid #de257e;
}

.gclose.gbtn:hover {
  background-color: #DE257E;
}

.gclose.gbtn svg path {
  fill: #de257e;
}

.gclose.gbtn:hover svg path {
  fill: white;
}

.glightbox-clean .gdesc-inner {
  background-color: #083E44;
}

.gslide-description .gslide-title {
  font-family: 'Inter', sans-serif !important;
  background-color: #083E44 !important;
  color: white !important;
}

.gnext.gbtn, .gprev.gbtn {
  background-color: #083E44;
}

.gnext.gbtn:hover, .gprev.gbtn:hover {
  background-color: #3E6C69;
}

.gnext.gbtn svg path, .gprev.gbtn svg path {
  fill: white;
}

.reveal .slide .yellow-bg {
  background-color: #ffe7b7ff;
  color: #b67a16ff;
}

.reveal .slide input[type="checkbox"] {
  accent-color: #de257e; /* Changes the checkmark color */
  border: 2px solid #de257e;
  border-radius: 4px; /* Optional: makes it slightly rounded */
}

.reveal .slide .smallercaps {
  font-weight: normal;
  font-size: smaller;
  font-variant: small-caps;
  position: relative;
  top: -5px;
}

.reveal .slide .pink {
  color: #DE257E;
}
