a {
    color: #3E6C69;
  }
  
a:hover {
    text-decoration: underline 2px solid #042426;
  }  

.training-hero {
    position: relative;
    margin-top: -35px;
    padding: 100px;
    background-color: #042426;
    color: #EAF8FA;
    z-index: 1; 
    margin-bottom: 25px;
    background: url('../../assets/img/solutions-hero.png');
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    text-align: center;
    background-size: cover;
}

#quarto-sidebar.sidebar {
    background-color: #042426;
    color: #EAF8FA;
  }

#quarto-sidebar.menu-text a {
    color: #EAF8FA;
  }

.sidebar-item-container .menu-text {
    color: #EAF8FA;
}

.sidebar-item-container .sidebar-link:hover .menu-text {
    color: #DE257E; 
}

.card {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    border-radius: 5px; 
    border: 1px solid #3E6C69;
  }
  
.card-title {
    padding-bottom: 0.2rem;
    font-size: 100%;
    font-weight: bold;
    color: #3E6C69;
  }

.card:hover {
    border: 1px solid #042426;
    background-color: #B5B5B510;
  }

#listing-training-courses .thumbnail-image.card-img {
    object-fit: cover;      
    object-position: top;    
    height: 100%;            
    width: 100%;             
  }

.attn {
    margin-top: 40px;
    margin-bottom: 20px;
    border: 2px solid #042426;
    background-color: #EAF8FA;
    border-left-width: 0px;
    border-right-width: 0px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
  }
  
.attn h2{
    color: #042426;
  }

.preview {
    background: #042426 !important;
    border: 1px solid #042426 !important; 
  }

div.callout.callout {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    border: 1px solid #DE257E;
    border-left-width: 5px;
    background: #B5B5B510;
  }

.callout-title-container {
    color: #DE257E;
    margin-bottom: 10px;
}

.quarto-announcement-content a {
    text-decoration: none;
  }

.sidebar-header .sidebar-title a {
  text-decoration: none;
  /* color: #DE257E; */
}

.quarto-listing-default .no-anchor.listing-title a {
  color: #3E6C69;    
}

.quarto-listing-default {
  border: 1px solid #042426;
}

.navbar {
  background-color: #EAF8FA !important;
}

nav#TOC ul > li > a.nav-link {
  color: #3E6C69 !important;
  text-decoration: none;
}

nav#TOC ul > li > a.nav-link:hover, 
nav#TOC ul > li > a.nav-link.active:hover {
  color: #DE257E !important; 
  background-color: white;
  text-decoration: none; 
}

a.dropdown-item:hover {
  text-decoration: none;
  color: #DE257E;
  background-color: #B5B5B510;
}