.navbar {
    background-color: #042426 !important;
    background: url('../../assets/img/solutions-hero.png');
}

a.nav-link {
  text-decoration: none;
  color: #EAF8FA;
}

a.nav-link:before, a.dropdown-item:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #EAF8FA;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}