a {
    color: #3E6C69;
  }
  
a:hover {
    text-decoration: underline 2px solid #042426;
  }  

/* Section-specific underline treatments */
div[id^="fn"] a:hover,
#connect-with-us a:hover,
#prerequisites a:hover,
#supported-model-types a:hover,
#supported-modeling-libraries-and-other-tools a:hover,
#submit-feedback a:hover,
#whats-next a:hover:not(.quarto-grid-link) {
  text-decoration: underline 2px solid #083E44 !important;
}
  
.training-hero {
  position: relative;
  margin-top: -50px;
  padding: 50px;
  padding-top: 200px;
  background-color: #083E44 !important;
  color: white;
  margin-bottom: 25px;
  background: url('../../assets/img/eco-hero.svg') no-repeat;
  background-position: center 50px;
  background-size: 200px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column; 
  text-align: center;
}

.card {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    border-radius: 5px; 
    border: 1px solid #3E6C69;
  }
  
.card-title {
    padding-bottom: 0.2rem;
    font-size: 100%;
    font-weight: bold;
    color: #3E6C69;
  }

.card:hover {
    border: 1px solid #042426;
    background-color: #B5B5B510;
  }

#listing-training-courses .thumbnail-image.card-img {
    object-fit: cover;      
    object-position: top;    
    height: 100%;            
    width: 100%;             
  }

.attn {
    margin-top: 20px;
    margin-bottom: 40px;
    border: 2px solid #042426;
    background-color: #EAF8FA;
    border-left-width: 0px;
    border-right-width: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
  }
  
.attn h2{
    color: #042426;
  }

.preview {
    background: #042426 !important;
    border: 1px solid #042426 !important; 
  }

div.callout.callout {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    border: 1px solid #DE257E;
    border-left-width: 5px;
    background: #FAFBFB;
  }

.callout-title-container {
    color: #DE257E;
    margin-bottom: 10px;
}

.quarto-announcement-content a {
    text-decoration: none;
  }

#quarto-sidebar.sidebar {
    background-color: #FFFFFF !important; 
}

.sidebar-header .sidebar-title a {
  text-decoration: none;
}

.sidebar.sidebar-navigation:not(.rollup) {
  border-right: none !important;
}

.quarto-listing-default .no-anchor.listing-title a {
  color: #3E6C69;    
}

.quarto-listing-default {
  border: 1px solid #042426;
}

.navbar {
  background-color: #FAFBFB !important;
}

nav#TOC {
  border: 1px solid #FFFFFF !important;
  background-color: #FFFFFF !important;
}

nav#TOC ul > li > a.nav-link {
  color: #3E6C69 !important;
  text-decoration: none;
}

nav#TOC ul > li > a.nav-link:hover, 
nav#TOC ul > li > a.nav-link.active:hover {
  color: #DE257E !important; 
  background-color: white;
  text-decoration: none; 
}

a.dropdown-item:hover {
  text-decoration: none;
  color: #DE257E;
  background-color: #B5B5B510;
}

.navbar-nav {
  margin-left: auto !important;
}

.navbar-nav .nav-item > .nav-link:has(.fa-house) {
  display: block !important;
}

a.nav-link:hover:has(.fa-house) {
  color: #DE257E !important;
}

#nav-menu-fa-graduation-cap--training.nav-link:before, a.nav-link:hover:has(.fa-house):before {
  content: none !important;
}

#nav-menu-fa-graduation-cap--training.nav-link:hover {
  background-color: #AF1A62;
}

#nav-menu-fa-graduation-cap--training {
  background-color: #de257e;
  border: 1px solid #de257e;
  color: white;
  padding: 0.375rem 0.75rem;
  border-radius: 2px;
  text-decoration: none;
}

@media (max-width: 768px) {
  #nav-menu-fa-book-open--documentation {
    margin-top: 0.5rem; 
    margin-left: 0.5rem; 
  }

  .navbar-nav .nav-item > .nav-link:has(.fa-house) {
    display: none !important;
  }
}


