.preview {
  position: relative;
  display: inline-block;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: #DE257E;
  border: 1px solid #DE257E;
}

.preview iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
}

.preview a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
