/*<meta />*/

@font-face 
{
	font-family: 'Roboto';
	src: url('fonts/Roboto/Roboto-Thin.eot');
	src: local('Roboto Thin'), local('Roboto-Thin'), url('fonts/Roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto/Roboto-Thin.woff2') format('woff2'), url('fonts/Roboto/Roboto-Thin.woff') format('woff'), url('fonts/Roboto/Roboto-Thin.ttf') format('truetype'), url('fonts/Roboto/Roboto-Thin.svg#Roboto') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face 
{
	font-family: 'Roboto-Thin';
	src: url('fonts/Roboto/Roboto-Thin.eot');
	src: local('Roboto Thin'), local('Roboto-Thin'), url('fonts/Roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto/Roboto-Thin.woff2') format('woff2'), url('fonts/Roboto/Roboto-Thin.woff') format('woff'), url('fonts/Roboto/Roboto-Thin.ttf') format('truetype'), url('fonts/Roboto/Roboto-Thin.svg#Roboto') format('svg');
}

@font-face 
{
	font-family: 'Roboto';
	src: url('fonts/Roboto/Roboto-ThinItalic.eot');
	src: local('Roboto ThinItalic'), local('Roboto-ThinItalic'), url('fonts/Roboto/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto/Roboto-ThinItalic.woff2') format('woff2'), url('fonts/Roboto/Roboto-ThinItalic.woff') format('woff'), url('fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype'), url('fonts/Roboto/Roboto-ThinItalic.svg#Roboto') format('svg');
	font-weight: 100;
	font-style: italic;
}

@font-face 
{
	font-family: 'Roboto-ThinItalic';
	src: url('fonts/Roboto/Roboto-ThinItalic.eot');
	src: local('Roboto ThinItalic'), local('Roboto-ThinItalic'), url('fonts/Roboto/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto/Roboto-ThinItalic.woff2') format('woff2'), url('fonts/Roboto/Roboto-ThinItalic.woff') format('woff'), url('fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype'), url('fonts/Roboto/Roboto-ThinItalic.svg#Roboto') format('svg');
}

@font-face 
{
	font-family: 'Roboto';
	src: url('fonts/Roboto/Roboto-Light.eot');
	src: local('Roboto Light'), local('Roboto-Light'), url('fonts/Roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto/Roboto-Light.woff2') format('woff2'), url('fonts/Roboto/Roboto-Light.woff') format('woff'), url('fonts/Roboto/Roboto-Light.ttf') format('truetype'), url('fonts/Roboto/Roboto-Light.svg#Roboto') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face 
{
	font-family: 'Roboto-Light';
	src: url('fonts/Roboto/Roboto-Light.eot');
	src: local('Roboto Light'), local('Roboto-Light'), url('fonts/Roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto/Roboto-Light.woff2') format('woff2'), url('fonts/Roboto/Roboto-Light.woff') format('woff'), url('fonts/Roboto/Roboto-Light.ttf') format('truetype'), url('fonts/Roboto/Roboto-Light.svg#Roboto') format('svg');
}

@font-face 
{
	font-family: 'Roboto';
	src: url('fonts/Roboto/Roboto-LightItalic.eot');
	src: local('Roboto LightItalic'), local('Roboto-LightItalic'), url('fonts/Roboto/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto/Roboto-LightItalic.woff2') format('woff2'), url('fonts/Roboto/Roboto-LightItalic.woff') format('woff'), url('fonts/Roboto/Roboto-LightItalic.ttf') format('truetype'), url('fonts/Roboto/Roboto-LightItalic.svg#Roboto') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face 
{
	font-family: 'Roboto-LightItalic';
	src: url('fonts/Roboto/Roboto-LightItalic.eot');
	src: local('Roboto LightItalic'), local('Roboto-LightItalic'), url('fonts/Roboto/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto/Roboto-LightItalic.woff2') format('woff2'), url('fonts/Roboto/Roboto-LightItalic.woff') format('woff'), url('fonts/Roboto/Roboto-LightItalic.ttf') format('truetype'), url('fonts/Roboto/Roboto-LightItalic.svg#Roboto') format('svg');
}

@font-face 
{
	font-family: 'Roboto';
	src: url('fonts/Roboto/Roboto-Regular.eot');
	src: local('Roboto Regular'), local('Roboto-Regular'), url('fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto/Roboto-Regular.woff2') format('woff2'), url('fonts/Roboto/Roboto-Regular.woff') format('woff'), url('fonts/Roboto/Roboto-Regular.ttf') format('truetype'), url('fonts/Roboto/Roboto-Regular.svg#Roboto') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face 
{
	font-family: 'Roboto-Regular';
	src: url('fonts/Roboto/Roboto-Regular.eot');
	src: local('Roboto Regular'), local('Roboto-Regular'), url('fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto/Roboto-Regular.woff2') format('woff2'), url('fonts/Roboto/Roboto-Regular.woff') format('woff'), url('fonts/Roboto/Roboto-Regular.ttf') format('truetype'), url('fonts/Roboto/Roboto-Regular.svg#Roboto') format('svg');
}

@font-face 
{
	font-family: 'Roboto';
	src: url('fonts/Roboto/Roboto-RegularItalic.eot');
	src: local('Roboto RegularItalic'), local('Roboto-RegularItalic'), url('fonts/Roboto/Roboto-RegularItalic.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto/Roboto-RegularItalic.woff2') format('woff2'), url('fonts/Roboto/Roboto-RegularItalic.woff') format('woff'), url('fonts/Roboto/Roboto-RegularItalic.ttf') format('truetype'), url('fonts/Roboto/Roboto-RegularItalic.svg#Roboto') format('svg');
	font-weight: 400;
	font-style: italic;
}

@font-face 
{
	font-family: 'Roboto-RegularItalic';
	src: url('fonts/Roboto/Roboto-RegularItalic.eot');
	src: local('Roboto RegularItalic'), local('Roboto-RegularItalic'), url('fonts/Roboto/Roboto-RegularItalic.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto/Roboto-RegularItalic.woff2') format('woff2'), url('fonts/Roboto/Roboto-RegularItalic.woff') format('woff'), url('fonts/Roboto/Roboto-RegularItalic.ttf') format('truetype'), url('fonts/Roboto/Roboto-RegularItalic.svg#Roboto') format('svg');
}

@font-face 
{
	font-family: 'Roboto';
	src: url('fonts/Roboto/Roboto-Medium.eot');
	src: local('Roboto Medium'), local('Roboto-Medium'), url('fonts/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto/Roboto-Medium.woff2') format('woff2'), url('fonts/Roboto/Roboto-Medium.woff') format('woff'), url('fonts/Roboto/Roboto-Medium.ttf') format('truetype'), url('fonts/Roboto/Roboto-Medium.svg#Roboto') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face 
{
	font-family: 'Roboto-Medium';
	src: url('fonts/Roboto/Roboto-Medium.eot');
	src: local('Roboto Medium'), local('Roboto-Medium'), url('fonts/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto/Roboto-Medium.woff2') format('woff2'), url('fonts/Roboto/Roboto-Medium.woff') format('woff'), url('fonts/Roboto/Roboto-Medium.ttf') format('truetype'), url('fonts/Roboto/Roboto-Medium.svg#Roboto') format('svg');
}

@font-face 
{
	font-family: 'Roboto';
	src: url('fonts/Roboto/Roboto-MediumItalic.eot');
	src: local('Roboto MediumItalic'), local('Roboto-MediumItalic'), url('fonts/Roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto/Roboto-MediumItalic.woff2') format('woff2'), url('fonts/Roboto/Roboto-MediumItalic.woff') format('woff'), url('fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype'), url('fonts/Roboto/Roboto-MediumItalic.svg#Roboto') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face 
{
	font-family: 'Roboto-MediumItalic';
	src: url('fonts/Roboto/Roboto-MediumItalic.eot');
	src: local('Roboto MediumItalic'), local('Roboto-MediumItalic'), url('fonts/Roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto/Roboto-MediumItalic.woff2') format('woff2'), url('fonts/Roboto/Roboto-MediumItalic.woff') format('woff'), url('fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype'), url('fonts/Roboto/Roboto-MediumItalic.svg#Roboto') format('svg');
}

@font-face 
{
	font-family: 'Roboto';
	src: url('fonts/Roboto/Roboto-Bold.eot');
	src: local('Roboto Bold'), local('Roboto-Bold'), url('fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto/Roboto-Bold.woff2') format('woff2'), url('fonts/Roboto/Roboto-Bold.woff') format('woff'), url('fonts/Roboto/Roboto-Bold.ttf') format('truetype'), url('fonts/Roboto/Roboto-Bold.svg#Roboto') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face 
{
	font-family: 'Roboto-Bold';
	src: url('fonts/Roboto/Roboto-Bold.eot');
	src: local('Roboto Bold'), local('Roboto-Bold'), url('fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto/Roboto-Bold.woff2') format('woff2'), url('fonts/Roboto/Roboto-Bold.woff') format('woff'), url('fonts/Roboto/Roboto-Bold.ttf') format('truetype'), url('fonts/Roboto/Roboto-Bold.svg#Roboto') format('svg');
}

@font-face 
{
	font-family: 'Roboto';
	src: url('fonts/Roboto/Roboto-BoldItalic.eot');
	src: local('Roboto BoldItalic'), local('Roboto-BoldItalic'), url('fonts/Roboto/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto/Roboto-BoldItalic.woff2') format('woff2'), url('fonts/Roboto/Roboto-BoldItalic.woff') format('woff'), url('fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype'), url('fonts/Roboto/Roboto-BoldItalic.svg#Roboto') format('svg');
	font-weight: 700;
	font-style: italic;
}

@font-face 
{
	font-family: 'Roboto-BoldItalic';
	src: url('fonts/Roboto/Roboto-BoldItalic.eot');
	src: local('Roboto BoldItalic'), local('Roboto-BoldItalic'), url('fonts/Roboto/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto/Roboto-BoldItalic.woff2') format('woff2'), url('fonts/Roboto/Roboto-BoldItalic.woff') format('woff'), url('fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype'), url('fonts/Roboto/Roboto-BoldItalic.svg#Roboto') format('svg');
}

@font-face 
{
	font-family: 'Roboto';
	src: url('fonts/Roboto/Roboto-Black.eot');
	src: local('Roboto Black'), local('Roboto-Black'), url('fonts/Roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto/Roboto-Black.woff2') format('woff2'), url('fonts/Roboto/Roboto-Black.woff') format('woff'), url('fonts/Roboto/Roboto-Black.ttf') format('truetype'), url('fonts/Roboto/Roboto-Black.svg#Roboto') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face 
{
	font-family: 'Roboto-Black';
	src: url('fonts/Roboto/Roboto-Black.eot');
	src: local('Roboto Black'), local('Roboto-Black'), url('fonts/Roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto/Roboto-Black.woff2') format('woff2'), url('fonts/Roboto/Roboto-Black.woff') format('woff'), url('fonts/Roboto/Roboto-Black.ttf') format('truetype'), url('fonts/Roboto/Roboto-Black.svg#Roboto') format('svg');
}

@font-face 
{
	font-family: 'Roboto';
	src: url('fonts/Roboto/Roboto-BlackItalic.eot');
	src: local('Roboto BlackItalic'), local('Roboto-BlackItalic'), url('fonts/Roboto/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto/Roboto-BlackItalic.woff2') format('woff2'), url('fonts/Roboto/Roboto-BlackItalic.woff') format('woff'), url('fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype'), url('fonts/Roboto/Roboto-BlackItalic.svg#Roboto') format('svg');
	font-weight: 900;
	font-style: italic;
}

@font-face 
{
	font-family: 'Roboto-BlackItalic';
	src: url('fonts/Roboto/Roboto-BlackItalic.eot');
	src: local('Roboto BlackItalic'), local('Roboto-BlackItalic'), url('fonts/Roboto/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto/Roboto-BlackItalic.woff2') format('woff2'), url('fonts/Roboto/Roboto-BlackItalic.woff') format('woff'), url('fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype'), url('fonts/Roboto/Roboto-BlackItalic.svg#Roboto') format('svg');
}




/* AK 2021-04 UX-required new style block - start.*/
/* AK 2021-04 - Based on Help design, but with gradient corrected to UX standard on Figma, and improved spacing from the logo and search bar */

.title-bar::after
{
	height: 2px;
	background-image: linear-gradient(90deg, #AF1685 0%, #1D4F91 100%);
	margin-top: 10px;
	display: block;
}

/* AK 2021-04 - UX requirement to add border and space between sidenav and content. */

.sidenav-wrapper
{
	border-right-style: solid;
	border-right-color: #a9a9a9;
	border-right-width: 1px;
}

#mc-main-content
{
	padding-left: 10px;
}

/* AK 2022-02 - Sticky breadcrumbs */

div.MCBreadcrumbsBox_0
{

	background-color: #f6f6f6;
	margin-top: -16px;
	padding-top: 21px;
	margin-right: -14px;
	padding-right: 14px;
	margin-bottom: 0px;
	margin-left: -16px;
	padding-left: 26px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	line-height: 24px;
	padding-bottom: 14px;
}

.stickybreadcrumbs
{
	position: sticky;
	top: -16px;
	position: -webkit-sticky;
	/* Safari */
}

/* AK 2021-04 - UX breadcrumb positioning / shading. Same divider as Help's design, use sidenav template breadcrumb count default */

MadCap|breadcrumbsProxy
{
	mc-disabled: false;
	mc-breadcrumbs-divider: '/';
	background-color: #f6f6f6;
	margin-top: -16px;
	padding-top: 21px;
	margin-right: -14px;
	padding-right: 14px;
	margin-bottom: 0px;
	margin-left: -16px;
	padding-left: 26px;
	mc-breadcrumbs-count: 6;
	mc-breadcrumbs-prefix: '';
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	line-height: 24px;
	padding-bottom: 14px;
}

.MCBreadcrumbsDivider
{
	margin: 16px;
	color: #8c8c8c;
}

.breadcrumbs a
{
	/* AK 2021-04 UX requirement  */
	text-decoration-line: none;
}

a:link
{
	/*	AK 2021-04 was color: #ba2f7d; */
	color: #426da9;
	text-decoration: underline;
	font-family: Roboto, Arial;
}

.breadcrumbs a:visited
{
	/* AK 2021-04 - Colour aligned with EDS */
	color: #426da9;
}

a:visited
{
	/*	AK 2021-04 was color: #ba2f7d; */
	color: #123f7a;
	text-decoration: underline;
	font-family: Roboto, Arial;
}

a:focus
{
	font-family: Roboto, Arial;
}

a:hover
{
	/*	AK 2021-04 was color: #982881; */
	color: #123f7a;
	cursor: hand;
	text-decoration: underline;
	font-family: Roboto, Arial;
}

.modal a:hover
{
	background: #d6e3f4;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
}

a:active
{
	/*	AK 2021-04 was color: #ba217d; */
	color: #426da9;
	cursor: hand;
	text-decoration: underline;
	font-family: Roboto, Arial;
}

/* AK 2021-04 - Reduces indentation of tables and notes within lists, picking up name within table style file */

li table.TableStyle-DATableStyle_Caution,
li table.TableStyle-datablestyle_columnheader_new,
li table.TableStyle-DATableStyle_Example,
li table.TableStyle-datablestyle_header_new,
li table.TableStyle-datablestyle_no_header_new,
li table.TableStyle-DATableStyle_Note,
li table.TableStyle-DATableStyle_RLN_KI,
li table.TableStyle-DATableStyle_Row_and_ColumnHeader,
li table.TableStyle-DATableStyle_Tip
{
	margin-left: 0em;
}

/* AK 2021-04 Regularise the top margins of text at the top of warning box tables between P and TD tag text. */

table.TableStyle-DATableStyle_Caution p:first-child,
table.TableStyle-DATableStyle_Example p:first-child,
table.TableStyle-DATableStyle_Note p:first-child,
table.TableStyle-DATableStyle_Tip p:first-child
{
	margin-top: 0em;
}

/* AK 2021-04 UX-required new style block - end */

body
{
	margin-left: 0em;
	padding-left: 1.5em;
	padding-right: 1em;
	border-bottom-width: .5em;
	border-left-width: .5em;
	border-right-width: .5em;
	border-top-width: .5em;
	mc-disabled: false;
	font-family: Roboto, Arial;
	font-size: 0.9em;
	/* AK 2021-04 UX requirement - color was #575755; 	*/
	color: #333333;
}

a.Popup
{
	mc-disabled: false;
}

/* AK 2021-04 UX requirement - modified feedback bar question on master page - was color #ffffffe, font size 1.25em, */

.question
{
	color: #000000;
	font-size: 14px;
	font-weight: 500;
	line-height: 21px;
}

/* AK 2021-04 UX requirement - modified feedback bar on master page - was background #26478D, new margins and border radius, */

.modal
{
	margin-top: 2em;
	margin-bottom: 2em;
	background: #eaeaea;
	display: block;
	width: auto;
	text-align: center;
	padding: 1em;
	font-family: Roboto, Arial, Helvetica Neue, Helvetica, sans-serif;
	border-radius: 8px;
}

/* AK 2021-04 UX requirement - modified 'Yes/No Static' links on feedback bar on master page - new background, border, borderradius, text weight, font size, padding  */

.modal a
{
	background: #f2f8ff;
	margin-right: .5em;
	border-style: solid;
	border-width: 1px;
	border-color: #bbcfea;
	border-radius: 4px;
	color: #426da9;
	cursor: pointer;
	display: inline;
	text-decoration: none;
	font-weight: 500;
	font-variant: normal;
	font-size: 14px;
	font-family: Roboto, Arial, Helvetica Neue, Helvetica, sans-serif;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
}

/* AK 2021-04 - Note that the '.modal > a:hover' and '.modal > label' definitions removed as not required for feedback bar */

li.MadCap1
{
	mc-disabled: false;
	list-style-type: disc;
	/* font-size: 1.0em; AK 2021-05-24 */
	left: 0em;
	text-indent: inherit;
	margin-left: auto;
}

.TBLhead
{
	margin-top: 1.5em;
	margin-bottom: .5em;
	clear: both;
	font-weight: bold;
	color: #575755;
	font-size: 1em;
	font-family: Roboto, Arial;
}

a.MCBreadcrumbsLink
{
	mc-disabled: false;
}

abbr
{
	mc-disabled: false;
}

acronym
{
	mc-disabled: false;
}

address
{
	mc-disabled: false;
}

area
{
	mc-disabled: false;
}

article
{
	mc-disabled: false;
}

aside
{
	mc-disabled: false;
}

big
{
	mc-disabled: false;
}

blockquote
{
	mc-disabled: false;
}

button
{
	mc-disabled: false;
}

canvas
{
	mc-disabled: false;
}

center
{
	mc-disabled: false;
}

cite
{
	mc-disabled: false;
}

col
{
	mc-disabled: false;
}

colgroup
{
	mc-disabled: false;
}

datalist
{
	mc-disabled: false;
}

dd
{
	mc-disabled: false;
	margin-left: 2em;
}

del
{
	mc-disabled: false;
}

dir
{
	mc-disabled: false;
}

div
{
	mc-disabled: false;
}

div.GlossaryPageDefinition
{
	mc-disabled: false;
}

div.GlossaryPageEntry
{
	mc-disabled: false;
}

div.GlossaryPageHeading
{
	mc-disabled: false;
}

div.GlossaryPageTerm
{
	mc-disabled: false;
}

div.Row-4-4-4
{
	mc-disabled: false;
}

div.Row-6-6
{
	mc-disabled: false;
}

div.Row-8-4
{
	mc-disabled: false;
}

dl
{
	mc-disabled: false;
	margin: 1.12em;
}

dt
{
	mc-disabled: false;
}

em
{
	mc-disabled: false;
}

fieldset
{
	mc-disabled: false;
}

footer
{
	mc-disabled: false;
}

form
{
	mc-disabled: false;
}

frame
{
	mc-disabled: false;
}

frameset
{
	mc-disabled: false;
}

head
{
	mc-disabled: false;
}

header
{
	mc-disabled: false;
}

hr
{
	mc-disabled: false;
}

html
{
	mc-disabled: false;
}

html.concept
{
	mc-disabled: false;
}

html.reference
{
	mc-disabled: false;
}

html.task
{
	mc-disabled: false;
}

html.topic
{
	mc-disabled: false;
}

i
{
	mc-disabled: false;
}

input
{
	mc-disabled: false;
}

ins
{
	mc-disabled: false;
}

kbd
{
	mc-disabled: false;
}

label
{
	mc-disabled: false;
}

legend
{
	mc-disabled: false;
}

MadCap|annotation
{
	mc-disabled: false;
}

MadCap|bodyProxy
{
	mc-disabled: false;
}

MadCap|concept
{
	mc-disabled: false;
}

MadCap|conceptLink
{
	mc-disabled: false;
}

MadCap|conceptLinkControlList
{
	mc-disabled: false;
}

MadCap|conceptLinkControlListItem
{
	mc-disabled: false;
}

MadCap|conceptLinkControlListItemLink
{
	mc-disabled: false;
}

MadCap|conceptsProxy
{
	mc-disabled: false;
}

MadCap|conditionalText
{
	mc-disabled: false;
}

MadCap|endnoteBlock
{
	mc-disabled: false;
}

MadCap|endnotesBlock
{
	mc-disabled: false;
}

MadCap|endnotesProxy
{
	mc-disabled: false;
}

MadCap|equation
{
	mc-disabled: false;
}

MadCap|expanding
{
	mc-disabled: false;
}

MadCap|expandingBody
{
	mc-disabled: false;
}

MadCap|expandingHead
{
	mc-disabled: false;
}

MadCap|footnote
{
	mc-disabled: false;
}

MadCap|footnoteBlock
{
	mc-disabled: false;
}

MadCap|footnotesBlock
{
	mc-disabled: false;
}

MadCap|glossaryProxy
{
	mc-disabled: false;
}

MadCap|glossaryTerm
{
	mc-disabled: false;
}

MadCap|glossaryTerm.Expanding
{
	mc-disabled: false;
}

MadCap|glossaryTerm.Hyperlink
{
	mc-disabled: false;
}

MadCap|glossaryTerm.Popup
{
	mc-disabled: false;
}

MadCap|helpControlList
{
	mc-disabled: false;
}

MadCap|helpControlListItem
{
	mc-disabled: false;
}

MadCap|helpControlListItemLink
{
	mc-disabled: false;
}

MadCap|helpControlMenu
{
	mc-disabled: false;
	font-family: Roboto, Arial;
	/* AK 2021-04 UX requirement - color was #575756; */
	color: #333333;
	background-color: #f5f5f5;
}

MadCap|helpControlMenuItem
{
	mc-disabled: false;
}

MadCap|helpControlMenuItem.Highlighted
{
	mc-disabled: false;
	/*	background-color: #982881; */
	background-color: #ffffff;
	color: #333333;
}

MadCap|indexProxy
{
	mc-disabled: false;
}

MadCap|keyword
{
	mc-disabled: false;
}

MadCap|keywordLink
{
	mc-disabled: false;
}

MadCap|keywordLinkControlList
{
	mc-disabled: false;
}

MadCap|keywordLinkControlListItem
{
	mc-disabled: false;
}

MadCap|keywordLinkControlListItemLink
{
	mc-disabled: false;
}

MadCap|listOfProxy
{
	mc-disabled: false;
}

MadCap|menuProxy
{
	mc-disabled: false;
}

MadCap|miniTocProxy
{
	mc-disabled: false;
}

MadCap|model3D
{
	mc-disabled: false;
}

MadCap|namedDestination
{
	mc-disabled: false;
}

MadCap|pageFooter
{
	mc-disabled: false;
}

MadCap|pageFooter.EvenPage
{
	mc-disabled: false;
}

MadCap|pageFooter.FirstPage
{
	mc-disabled: false;
}

MadCap|pageFooter.OddPage
{
	mc-disabled: false;
}

MadCap|pageHeader
{
	mc-disabled: false;
}

MadCap|pageHeader.EvenPage
{
	mc-disabled: false;
}

MadCap|pageHeader.FirstPage
{
	mc-disabled: false;
}

MadCap|pageHeader.OddPage
{
	mc-disabled: false;
}

MadCap|popup
{
	mc-disabled: false;
}

MadCap|popupBody
{
	mc-disabled: false;
	font-family: Roboto, Arial;
	/* AK 2021-04 UX requirement - color was #575756; */
	color: #333333;
	background-color: #f5f5f5;
}

MadCap|popupHead
{
	mc-disabled: false;
}

MadCap|qrCode
{
	mc-disabled: false;
}

/* AK 2021-04 - Related topics updated from Help design. */

MadCap|relatedTopics:hover,
MadCap|relatedTopics:focus,
MadCap|relatedTopicsControlList
{
	font-family: Roboto, Arial;
}

MadCap|relatedTopicsControlListItem,
MadCap|relatedTopicsControlListItemLink
{
	mc-disabled: false;
	font-family: Roboto;
	color: #333333;
}

MadCap|relatedTopics
{
	mc-disabled: false;
	text-decoration: none;
	mc-use-custom-sort-order: true;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	font-family: Roboto;
	color: #426da9;
	background: #f2f8ff;
	/* AK 2021-04 - UX requirement - was #edf4fa */
	border: solid 1px #bbcfea;
	/* AK 2021-04 - UX requirement - was #004590 */
	border-radius: 4px;
	padding: 8px;
}

MadCap|relatedTopicsControlList
{
	mc-disabled: false;
	color: #333333;
	background-color: #f5f5f5;
	font-size: 1em;
}

/* MadCap|relatedTopics:hover
{
	 AK 2021-04 - UX requirement - color was #163c6f 
	background: #d6e3f4; 
}
*/

MadCap|relatedTopicsControlListItem
{
	font-size: 1em;
}

MadCap|relationshipsItem
{
	mc-disabled: false;
}

MadCap|relationshipsProxy
{
	mc-disabled: false;
}

MadCap|section
{
	mc-disabled: false;
}

MadCap|shortcut
{
	mc-disabled: false;
}

MadCap|slide
{
	mc-disabled: false;
}

MadCap|slideshow
{
	mc-disabled: false;
}

MadCap|slideshowAutoControls
{
	mc-disabled: false;
}

MadCap|slideshowAutoControls.active
{
	mc-disabled: false;
}

MadCap|slideshowAutoControls.Start
{
	mc-disabled: false;
}

MadCap|slideshowAutoControls.Stop
{
	mc-disabled: false;
}

MadCap|slideshowBullet
{
	mc-disabled: false;
}

MadCap|slideshowBullet.active
{
	mc-disabled: false;
}

MadCap|slideshowCaption
{
	mc-disabled: false;
	font-family: Roboto, Arial;
}

MadCap|slideshowNavigationControls
{
	mc-disabled: false;
}

MadCap|slideshowNavigationControls.Next
{
	mc-disabled: false;
}

MadCap|slideshowNavigationControls.Previous
{
	mc-disabled: false;
}

MadCap|slideThumbnail
{
	mc-disabled: false;
}

MadCap|slideThumbnail.active
{
	mc-disabled: false;
}

MadCap|snippetBlock
{
	mc-disabled: false;
}

MadCap|snippetText
{
	mc-disabled: false;
}

MadCap|toggler
{
	mc-disabled: false;
}

MadCap|topicToolbarProxy
{
	mc-disabled: false;
}

MadCap|variable
{
	mc-disabled: false;
}

MadCap|xref
{
	mc-disabled: false;
}

MadCap|xref.ConceptPageNumber
{
	mc-disabled: false;
}

MadCap|xref.IndexPageNumber
{
	mc-disabled: false;
}

MadCap|xref.ListOfPageNumber
{
	mc-disabled: false;
}

MadCap|xref.RelLinkPageNumber
{
	mc-disabled: false;
}

MadCap|xref.TOCPageNumber
{
	mc-disabled: false;
}

madcapEditorBehavior
{
	mc-disabled: false;
}

map
{
	mc-disabled: false;
}

menu
{
	mc-disabled: false;
}

nav
{
	mc-disabled: false;
}

noframes
{
	mc-disabled: false;
}

object
{
	mc-disabled: false;
}

optgroup
{
	mc-disabled: false;
}

option
{
	mc-disabled: false;
}

p.code,
p.CodeIndent1,
p.CodeIndent2,
p.CodeIndent3,
p.CodeIndent4,
p.CodeIndent5,
p.CodeIndent6,
p.CodeIndent7,
p.CodeIndent8,
p.CodeIndent9,
p.CodeIndent10,
p.CodeIndent11,
p.CodeIndent12,
p.CodeIndent13,
p.CodeIndent14,
p.CodeIndent15,
p.CodeIndent16
{
	font-size: 1em;
	color: #575755;
	font-family: 'Courier New';
}

p.CodeIndent1
{
	margin-left: 1em;
}

p.CodeIndent2
{
	margin-left: 2em;
}

p.CodeIndent3
{
	margin-left: 3em;
}

p.CodeIndent4
{
	margin-left: 4em;
}

p.CodeIndent5
{
	margin-left: 5em;
}

p.CodeIndent6
{
	margin-left: 6em;
}

p.CodeIndent7
{
	margin-left: 7em;
}

p.CodeIndent8
{
	margin-left: 8em;
}

p.CodeIndent9
{
	margin-left: 9em;
}

p.CodeIndent10
{
	margin-left: 10em;
}

p.CodeIndent11
{
	margin-left: 11em;
}

p.CodeIndent12
{
	margin-left: 12em;
}

p.CodeIndent13
{
	margin-left: 13em;
}

p.CodeIndent14
{
	margin-left: 14em;
}

p.CodeIndent15
{
	margin-left: 15em;
}

p.CodeIndent16
{
	margin-left: 16em;
}

p.Concept
{
	mc-disabled: false;
	font-family: Roboto, Arial;
}

p.ConceptContext
{
	mc-disabled: false;
	font-family: Roboto, Arial;
}

p.IndexHeading
{
	mc-disabled: false;
	font-family: Roboto, Arial;
}

p.ListOf
{
	mc-disabled: false;
}

pre
{
	mc-disabled: false;
}

q
{
	mc-disabled: false;
}

s
{
	mc-disabled: false;
}

samp
{
	mc-disabled: false;
}

script
{
	mc-disabled: false;
}

select
{
	mc-disabled: false;
}

small
{
	mc-disabled: false;
}

span.boolean
{
	mc-disabled: false;
}

span.SearchHighlight
{
	mc-disabled: false;
}

span.SearchHighlight1
{
	mc-disabled: false;
}

span.SearchHighlight2
{
	mc-disabled: false;
}

span.SearchHighlight3
{
	mc-disabled: false;
}

span.SearchHighlight4
{
	mc-disabled: false;
}

span.SearchHighlight5
{
	mc-disabled: false;
}

span.SearchHighlight6
{
	mc-disabled: false;
}

span.SearchHighlight7
{
	mc-disabled: false;
}

span.SearchHighlight8
{
	mc-disabled: false;
}

span.SearchHighlight9
{
	mc-disabled: false;
}

span.SearchHighlight10
{
	mc-disabled: false;
}

span.SeeAlsoIndex
{
	mc-disabled: false;
	font-weight: bold;
	font-style: normal;
	font-size: 1.05em;
	color: #333333;
	/* AK 2021-04 UX requirement - color was #575755; */
}

span.SeeAlsoIndexTerms
{
	mc-disabled: false;
}

span.SeeIndex
{
	mc-disabled: false;
}

strike
{
	mc-disabled: false;
}

strong
{
	mc-disabled: false;
}

u
{
	mc-disabled: false;
	font-family: Roboto, Arial;
}

var
{
	mc-disabled: false;
	font-family: Roboto, Arial;
}

/* AK 2021-05 - UX requirement for dropdown designs, includes clean xhtml */

MadCap|dropDown
{
	mc-disabled: false;
	/*	background-color: #f6f6f6; prevent bottom shading in clean xhtml*/
	border: solid 1px #a9a9a9;
	margin: 0px;
	mc-image-position: left;
	mc-image-spacing: 10px;
	mc-closed-image: url('../Images/global/keyboard_arrow_down_24px.png');
	mc-open-image: url('../Images/global/keyboard_arrow_up_24px.png');
}

MadCap|dropDownHotspot	/*	to force colour in HTML5 */
{
	color: #333333;
}

MadCap|dropDownHead	/*	text attributes at Head not Hotspot, as dropdownhotspot is ignored in clean xhtml output */
{
	background-color: #f6f6f6;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 5px 20px 11px 10px;
	/*	better top spacing */
	mc-heading-level: 0;
	mc-hyphenate: never;
	text-align: left;
	font-family: Roboto, Arial;
	/* AK 2021-04 UX requirement, was font-weight: normal; font-size: 11pt;	color: #26478d; */
	font-weight: 700;
	font-size: 14px;
	line-height: 21px;
}

MadCap|dropDownHead.H2_hotspot
{
	font-weight: 700;
	font-size: 18px;
	line-height: 27px;
	/* AK 2021-04 UX requirement - color was #c41d73; */
}

MadCap|dropDownHead.H3_hotspot
{
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	/*	AK 2021-04 UX requirement - color was #1d4f91; */
}

MadCap|dropDownBody
{
	background-color: #ffffff;
	border-top-color: #d6d6d6;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-align: left;
	border-top-length: 100%;
	margin-left: 0px;
	padding-left: 10px;
	padding-right: 20px;
	/* AK 2021-05 pull full-width tips within border */
}

MadCap|pageBreak
{
	mc-disabled: false;
	font-family: Roboto, Arial;
}

MadCap|searchBarProxy
{
	mc-disabled: false;
	font-family: Roboto, Arial;
}

MadCap|searchResultsProxy
{
	mc-disabled: false;
	font-family: Roboto, Arial;
}

h2
{
	/* AK 2021-04 UX requirement - colour was ba2f7d, font-weight: normal; font-size: 1.65em;  added line height*/
	color: #333333;
	margin: 0;
	margin-left: 0;
	mc-hyphenate: never;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	margin-bottom: .375;
	margin-top: 1em;
	text-align: left;
	font-family: Roboto, Arial;
	font-weight: 300;
	font-size: 24px;
	line-height: 37px;
}

h3
{
	/* AK 2021-04 UX requirement - colour was #26478d, font-weight: normal; font-size: 1.5em;  added line height */
	color: #333333;
	margin: 0;
	margin-bottom: .375em;
	margin-left: 0;
	mc-hyphenate: never;
	font-family: Roboto, Arial;
	margin-top: 0.8em;
	text-align: left;
	font-weight: bold;
	font-size: 18px;
	line-height: 27px;
}

h4
{
	/* AK 2021-04 UX requirement - colour was #406eb3;, font-weight: normal; font-size: 1.25em, added line height; */
	color: #333333;
	margin: 0;
	margin-left: 0;
	margin-bottom: .375em;
	mc-hyphenate: never;
	font-family: Roboto, Arial;
	margin-top: 0.8em;
	text-align: left;
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	mc-heading-level: 0;
}

p
{
	/* AK 2021-04 UX requirement - colour was #575755; AK UX font-size was 1em; added line height */
	color: #333333;
	font-size: 14px;
	line-height: 21px;
	margin-left: 0;
	margin-right: 0;
	margin: 0;
	page-break-inside: avoid;
	mc-auto-number-position: inside-head;
	orphans: 2;
	font-weight: normal;
	margin-bottom: .8em;
	margin-top: .8em;
	text-align: left;
	mc-hyphenate: never;
	font-family: Roboto, Arial;
}

p.FigureName
{
	font-weight: normal;
	font-style: italic;
	page-break-after: avoid;
	page-break-before: avoid;
	margin-bottom: .8em;
	margin-top: 0;
	font-family: Roboto, Arial;
}

p.SubHeading
{
	margin-right: 0;
	margin: 0;
	font-weight: bold;
	margin-left: 0;
	font-size: 1em;
	margin-bottom: 1em;
	margin-top: 1.6em;
	page-break-after: avoid;
	/* AK 2021-04 UX requirement - colour removed - was #982881 */
	font-family: Roboto, Arial;
}

p.Table
{
	text-align: left;
	font-weight: bold;
	font-style: normal;
	padding-bottom: 0px;
	margin-bottom: 0;
	font-family: Roboto, Arial;
}

p.top_HeaderDocumentType
{
	color: #414141;
	margin-bottom: 0;
	margin-left: 0;
	margin-top: 0;
	font-size: 0.9em;
	font-family: Roboto, Arial;
}

p.top_HeaderProduct
{
	font-size: 0.9em;
	margin-bottom: 0;
	margin-top: 0;
	color: #26478d;
	font-family: Roboto, Arial;
}

p.top_Subtitle
{
	margin-left: 0;
	margin-bottom: 0;
	margin-top: 0;
	font-weight: bold;
	color: #632678;
	font-size: 18pt;
	orphans: 0;
	font-family: Roboto, Arial;
	line-height: 110%;
}

p.top_Title
{
	font-weight: bold;
	margin-top: .875em;
	margin-bottom: .625em;
	margin-left: 0;
	color: #26478d;
	font-size: 26pt;
	font-family: Roboto, Arial;
	line-height: 110%;
}

p.top_Version
{
	font-weight: normal;
	margin-left: 0;
	margin-top: 1.6em;
	font-size: 14pt;
	text-decoration: none;
	color: #26478d;
	orphans: 0;
	margin-bottom: 2.6em;
	mc-short-line: 1;
	mc-short-line-method: never;
	border-left-style: none;
	border-left-width: 1px;
	border-right-style: none;
	border-right-width: 1px;
	border-top-style: none;
	border-top-width: 1px;
	border-bottom-style: none;
	border-bottom-width: 1px;
	padding-bottom: 10px;
	border-bottom-left-radius: 0px 0px;
	font-family: Roboto, Arial;
	line-height: 110%;
}

/* AK 2021-09-24 - The borders and spacing for Notes which are achieved by the DIV technique. The icons, icon spacing and shading are defined seperately in the 'print' and 'not print' media sections. */

div.Caution {border: solid 1px #e4002b;}
div.Tip {border: solid 1px #D49A00;}
div.Example {border: solid 1px #009F4D;}
div.Note {border: solid 1px #426DA9;}

div.Caution, div.Note, div.Tip, div.Example
{
	overflow: hidden;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 5px 20px 10px 70px;
	margin-left: 0em;
	margin-bottom: 0.5em;
}

/* AK 2021-04 - Adds warning box header classes as requested by UX */

/* AK 2021-04 - Note that the p.<warningtype>, p.<warningtype>_No_Image and li.<warningtype>_List styles have been deleted.
The warning box table styles and any present child elements now control warning box formatting. */

p.noteheader_caution,
p.noteheader_info,
p.noteheader_tip,
p.noteheader_example
{
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
}

p.noteheader_info
{
	color: #123f7a;
}

p.noteheader_tip
{
	color: #995006;
}

p.noteheader_example
{
	color: #00612f;
}

p.noteheader_caution
{
	color: #a8001f;
}

/* AK 2021-04 UX requirement - applying 'procedure' sizing to legacy tags. */

p.procedureheading
{
	font-size: 16px;
	line-height: 24px;
}

/* AK 2021-04 UX requirement - applying 'procedure' formatting to legacy tags and headings. */

.procedureheading
{
	font-weight: 700;
	color: #883b92;
	font-family: Roboto, Arial;
}

div.Concept
{
	font-family: Roboto, Arial;
	color: #575756;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #825193;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #825193;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #825193;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #825193;
	background-color: #efe9f2;
}

div.Links
{
	background-color: #f5f5f5;
}

figcaption
{
	mc-disabled: false;
	font-family: Roboto, Arial;
}

figure
{
	mc-disabled: false;
	font-family: Roboto, Arial;
}

h1
{
	/* AK 2021-04 UX requirement - colour was #982881, AK UX font-size was 2em; added font weight and line height, removed bottom border */
	color: #333333;
	border: none;
	mc-hyphenate: never;
	font-family: Roboto, Arial;
	margin-left: 0px;
	margin-right: 0;
	margin: 0;
	margin-top: 2px;
	padding-bottom: 4px;
	margin-bottom: 10px;
	padding-top: 1em;
	text-align: left;
	font-weight: 300;
	font-size: 30px;
	line-height: 45px;
}

ul
{
	/* AK 2021-04 UX requirement - colour was  #575756;, added zero paddings */
	color: #333333;
	margin: 0;
	padding-left: 0em;
	padding-top: 0em;
	margin-top: 1em;
	margin-right: 0.0;
	margin-bottom: 1em;
	mc-auto-number-format: '1. ';
	mc-auto-number-position: none;
	mc-hyphenate: never;
	font-family: Roboto, Arial;
	font-size: 1em;
	list-style-type: disc;
	list-style-position: inherit;
	margin-left: 1.5em;
}

ol
{
	/* AK 2021-04 UX requirement - colour was  #575756; */
	color: #333333;
	margin: 0;
	font-family: Roboto, Arial;
	list-style-type: decimal;
	font-size: 1em;
	mc-hyphenate: never;
	margin-right: 0em;
	padding-top: 0em;
	text-align: left;
	left: 0em;
	list-style-position: inherit;
	display: block;
	white-space: normal;
	padding-left: 0em;
	text-indent: inherit;
	vertical-align: middle;
	margin-left: 1.5em;
	margin-bottom: 1em;
	margin-top: 1em;
}

li
{
	/* AK 2021-04 UX requirement - colour was  #575756; */
	color: #333333;
	/* font-size and line-height: was 1.0em; AK 2021-05-24 */
	font-size: 14px;
	line-height: 21px;
	mc-hyphenate: never;
	font-family: Roboto, Arial;
	list-style-type: inherit;
	text-align: left;
	margin-bottom: 1em;
	mc-leader-align: left;
	vertical-align: middle;
	text-indent: inherit;
	list-style-position: outside;
	left: auto;
	mc-leader-indent: 1.5em;
	margin-left: 0.5em;
	padding-left: auto;
}

code
{
	color: #575755;
	font-size: 1em;
	font-family: 'Courier New';
}

img
{
	border-left-style: none;
	border-left-width: 1px;
	border-right-style: none;
	border-right-width: 1px;
	border-top-style: none;
	border-top-width: 1px;
	border-bottom-style: none;
	border-bottom-width: 1px;
}

/* NR 2021-05-24 */

img.popup
{
	mc-thumbnail: popup;
	mc-thumbnail-max-height: auto;
	mc-thumbnail-max-width: 700px;
}

/* AK 2021-09-01 */

img.screenshot_big, img.screenshot_medium, img.screenshot_big_withborder, img.screenshot_medium_withborder
{
	vertical-align: middle;
	overflow: hidden;
}

img.screenshot_big {max-width: 600px;}
img.screenshot_medium {max-width: 450px;}

img.screenshot_big, img.screenshot_medium
{	border-style: none;
	border-width: 1px;
}

img.screenshot_big_withborder, img.screenshot_medium_withborder
{
	border-style: solid;
	border-width: 2px;
	border-color: #585858;
}

td
{
	vertical-align: middle;
	text-align: left;
	/* AK 2021-04 UX requirement - colour was  #575756; */
	color: #333333;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-left-style: none;
	border-left-width: 0.5px;
	border-left-color: #347dbe;
	border-right-style: none;
	border-right-width: 0.5px;
	border-right-color: #347dbe;
	border-top-style: none;
	border-top-width: 0.5px;
	border-top-color: #347dbe;
	border-bottom-style: none;
	border-bottom-width: 0.5px;
	border-bottom-color: #347dbe;
	font-family: Roboto, Arial;
	/* font-size and line-height; AK 2021-05-24 */
	font-size: 14px;
	line-height: 21px;
}

td.titlepage
{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: #347dbe;
	border-right-style: solid;
	border-right-width: 0px;
	border-right-color: #347dbe;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: #347dbe;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #347dbe;
	font-family: Roboto, Arial;
}

th
{
	/* AK 2021-05-24 */
	font-size: 14px;
	line-height: 21px;
}

caption
{
	font-weight: bold;
	font-style: normal;
	color: #595959;
	text-align: left;
	font-family: Roboto, Arial;
}


span
{
	mc-disabled: false;
}

/* AK 2021-05-24 */

h5
{
	mc-heading-level: 0;
	text-align: left;
	font-weight: bold;
	font-style: italic;
	font-size: 12px;
	line-height: 18px;
	margin-bottom: .375em;
	margin-top: 0.8em;
}

/* AK 2021-05-24 */

h6
{
	mc-heading-level: 0;
	text-align: left;
	font-weight: normal;
	font-style: italic;
	font-size: 12px;
	line-height: 18px;
	margin-bottom: .375em;
	margin-top: 0.8em;
}

a
{
	font-family: Roboto, Arial;
	font-size: 1em;
}

a.GlossaryPageTerm
{
	font-family: Roboto, Arial;
}

li::marker
{
	font-family: Roboto, Arial;
}

p.Index2
{
	font-family: Roboto, Arial;
}

p.Index1
{
	font-family: Roboto, Arial;
}

p.Index3
{
	font-family: Roboto, Arial;
}

p.Index5
{
	font-family: Roboto, Arial;
}

p.TOC9
{
	font-family: Roboto, Arial;
}

p.TOC7
{
	font-family: Roboto, Arial;
}

p.TOC6
{
	font-family: Roboto, Arial;
}

p.MiniTOC3
{
	font-family: Roboto, Arial;
}

p.MiniTOC9
{
	font-family: Roboto, Arial;
}

p.MiniTOC8
{
	font-family: Roboto, Arial;
}

p.MiniTOC7
{
	font-family: Roboto, Arial;
}

p.Index4
{
	font-family: Roboto, Arial;
}

p.MiniTOC1
{
	font-family: Roboto, Arial;
}

tr
{
	font-family: Roboto, Arial;
}

thead
{
	font-family: Roboto, Arial;
}

div.NewRowClass1	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-disabled: false;
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.NewRowClass1::before
{
	content: ' ';
	display: table;
}

div.NewRowClass1::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.NewRowClass1 > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.NewRowClass1 > div:nth-child(1)
{
	width: 33.33333%;
	margin-left: 0%;
}

div.NewRowClass1 > div:nth-child(2)
{
	width: 33.33333%;
	margin-left: 0%;
}

div.NewRowClass1 > div:nth-child(3)
{
	width: 33.33333%;
	margin-left: 0%;
}

h1.nonumber
{
	mc-heading-level: 0;
}

h2.nonumber
{
	mc-heading-level: 0;
}

h3.nonumber
{
	mc-heading-level: 0;
}

h4.nonumber
{
	mc-heading-level: 0;
}
	
h5.nonumber
{
	mc-heading-level: 0;
}

h6.nonumber
{
	mc-heading-level: 0;
}

@media not print

{
span.SearchHighlight
{
	background-color: #ffea90;
}

span.SearchHighlight:hover
{
	background-color: #f2f8ff;
}
span.SearchHighlight::selection
{
	background-color: #eed3f1;
}

/* AK 2021-09-24 - This section covers Flare's inability to render 2 background images at one, on PDFs. It calls the 
preferred look for the left-side of on-screen notes when they are done by DIV's rather than table styles.
The @media print section contains a corresponding fallback design for PDFs */

	div.Caution
	{background: url(../Images/global/caution_topmargin.png) 20px 12px no-repeat, linear-gradient(to right, #FFD6DD 60px, white 61px);}

	div.Tip
	{background: url(../Images/global/tip_topmargin.png) 20px 12px no-repeat, linear-gradient(to right, #FFF1BD 60px, white 61px);}

	div.Example
	{background: url(../Images/global/example_topmargin.png) 20px 12px no-repeat, linear-gradient(to right, #D0F6DB 60px, white 61px);}

	div.Note
	{background: url(../Images/global/note_topmargin.png) 20px 12px no-repeat, linear-gradient(to right, #D6E3F4 60px, white 61px);}
}

@media print
{
	p
	{
		mc-hyphenate: never;
		margin-bottom: 1.15em; 
		margin-top: 1.15em;
		color: #333333;
	font-size: 10pt; 
	}

	
	
p.TOC1
{
	font-weight: bold;
	margin-top: 1.4em;
	margin-bottom: 0.4em;
	margin-right: 0.2em;
	mc-pagenum-display: all;
	display: list-item;
	mc-page-number-format: decimal;
	overflow: auto;
	text-align: left;
	mc-leader-offset: 15pt;
	color: #26478D;
	mc-auto-number-position: outside-head;
	margin-left: 0mm;
	mc-auto-number-offset: 7mm;
	mc-multiline-indent: 0mm;
	line-height: 1em;
}

p.TOC2
{
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	margin-right: 0.2em;
	display: list-item;
	mc-page-number-format: decimal;
	overflow: auto;
	text-align: left;
	mc-leader-offset: 15pt;
	color: #26478D;
	mc-auto-number-position: outside-head;
	margin-left: 3mm;
	mc-auto-number-offset: 10mm;
	mc-multiline-indent: 0mm;
	line-height: 1em;
	}

p.TOC3
{
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	margin-right: 0.2em;
	display: list-item;
	mc-page-number-format: decimal;
	overflow: auto;
	text-align: left;
	mc-leader-offset: 15pt;
	color: #26478D;
	mc-auto-number-position: outside-head;
	margin-left: 6mm;
	mc-auto-number-offset: 13mm;
	mc-multiline-indent: 0mm;
		line-height: 1em;
	}

p.TOC4
{
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	margin-right: 0.1em;
	display: list-item;
	mc-page-number-format: decimal;
	overflow: auto;
	text-align: left;
	mc-leader-offset: 15pt;
	color: #26478D;
	mc-auto-number-position: outside-head;
	margin-left: 6mm;
	mc-auto-number-offset: 13mm;
	mc-multiline-indent: 0mm;
		line-height: 1em;
		}

p.TOC5
{
	display: list-item;
	margin-bottom: 0.4em;
	margin-top: 0.4em;
	margin-right: 0.1em;
	overflow: auto;
	text-align: left;
	color: #26478D;
	line-height: 1em;
	}

MadCap|tocProxy
{
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0px;
	margin-top: 0px;
	padding-left: 0px;
	padding-top: 0px;
}

	/* AK 2021-09-24 - This section is an alternative left-side Note design for use in PDFs. It omits the shading gradient, as Flare won't 
	render 2 background images at once, on PDFs. */


.Caution
{
               background-image: url(../Images/global/caution_bar_for_PDF.png);
               background-repeat: no-repeat;
               background-clip: content-box;
               page-break-inside: avoid;
}

.Tip
{
               background-image: url(../Images/global/tip_bar_for_PDF.png);
               background-repeat: no-repeat;
               background-clip: content-box;
               page-break-inside: avoid;
}

.Example
{
               background-image: url(../Images/global/example_bar_for_PDF.png);
               background-repeat: no-repeat;
               background-clip: content-box;
               page-break-inside: avoid;
}

.Note
{
	background-image: url(../Images/global/note_bar_for_PDF.png);
	background-repeat: no-repeat;
	background-clip: content-box;
	page-break-inside: avoid;

}

.Caution > :first-child,
.Tip > :first-child,
.Example > :first-child,
.Note > :first-child
{padding-top: 12px;}

	/* AK 2022-02 - For Hunter-style page layouts */
	
	td.header_footer
	{
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
		color: #575756;
		mc-hyphenate: never;
	}

	MadCap|conceptLink
	{
		color: #ba2f7d;
		font-family: Arial;
	}

	code
	{
		font-family: Courier New;
		font-size: 1em;
	}

	p.Note
	{
		font-family: Arial;
	}

	.TBLhead
	{
		font-family: Arial;
	}

	td.titlepage
	{
		font-family: Arial;
	}

	img.screenshot_big
	{
		font-family: Arial;
	}

	span.SeeIndex
	{
		font-family: Arial;
	}

	span.SeeAlsoIndexTerms
	{
		font-family: Arial;
	}

	span.SeeAlsoIndex
	{
		font-family: Arial;
		color: #575756;
	}

	span.SearchHighlight9
	{
		font-family: Arial;
	}

	span.SearchHighlight8
	{
		font-family: Arial;
	}

	span.SearchHighlight7
	{
		font-family: Arial;
	}

	span.SearchHighlight6
	{
		font-family: Arial;
	}

	span.SearchHighlight5
	{
		font-family: Arial;
	}

	span.SearchHighlight4
	{
		font-family: Arial;
	}

	span.SearchHighlight3
	{
		font-family: Arial;
	}

	span.SearchHighlight2
	{
		font-family: Arial;
	}

	span.SearchHighlight10
	{
		font-family: Arial;
	}

	span.SearchHighlight1
	{
		font-family: Arial;
	}

	span.SearchHighlight
	{
		font-family: Arial;
	}

	span.boolean
	{
		font-family: Arial;
	}

	p.top_Version
	{
		font-family: Arial;
	}

	p.top_Title
	{
		font-family: Arial;
		font-size: 30pt;
	}

	p.top_Subtitle
	{
		font-family: Arial;
		color: #26478d;
		font-weight: normal;
		font-style: normal;
	}

	p.top_HeaderProduct
	{
		font-family: Arial;
	}

	p.top_HeaderDocumentType
	{
		font-family: Arial;
	}

	p.Tip
	{
		font-family: Arial;
	}

	p.Table
	{
		font-family: Arial;
	}

	p.SubHeading
	{
		font-family: Arial;
	}

	p.procedureheading
	{
		font-family: Arial;
	}

	p.Note_No_Image
	{
		font-family: Arial;
	}

	p.ListOf
	{
		font-family: Arial;
	}

	p.IndexHeading
	{
		font-family: Arial;
	}

	p.FigureName
	{
		font-family: Arial;
	}

	p.Example_No_Image
	{
		font-family: Arial;
	}

	p.Example
	{
		font-family: Arial;
	}

	p.ConceptContext
	{
		font-family: Arial;
	}

	p.Concept
	{
		font-family: Arial;
	}

	p.Caution_No_Image
	{
		font-family: Arial;
	}

	p.Caution
	{
		font-family: Arial;
	}

	MadCap|xref.TOCPageNumber
	{
		font-family: Arial;
	}

	MadCap|xref.RelLinkPageNumber
	{
		font-family: Arial;
	}

	MadCap|xref.ListOfPageNumber
	{
		font-family: Arial;
	}

	MadCap|xref.IndexPageNumber
	{
		font-family: Arial;
	}

	MadCap|xref.ConceptPageNumber
	{
		font-family: Arial;
	}

	MadCap|slideThumbnail.active
	{
		font-family: Arial;
	}

	MadCap|slideshowBullet.active
	{
		font-family: Arial;
	}

	MadCap|pageHeader.OddPage
	{
		font-family: Arial;
	}

	MadCap|pageHeader.FirstPage
	{
		font-family: Arial;
	}

	MadCap|pageHeader.EvenPage
	{
		font-family: Arial;
	}

	MadCap|pageFooter.OddPage
	{
		font-family: Arial;
	}

	MadCap|pageFooter.FirstPage
	{
		font-family: Arial;
	}

	MadCap|pageFooter.EvenPage
	{
		font-family: Arial;
	}

	MadCap|helpControlMenuItem.Highlighted
	{
		font-family: Arial;
	}

	MadCap|glossaryTerm.Popup
	{
		font-family: Arial;
	}

	MadCap|glossaryTerm.Hyperlink
	{
		font-family: Arial;
	}

	MadCap|glossaryTerm.Expanding
	{
		font-family: Arial;
	}

	html.topic
	{
		font-family: Arial;
	}

	html.task
	{
		font-family: Arial;
	}

	html.reference
	{
		font-family: Arial;
	}

	html.concept
	{
		font-family: Arial;
	}

	div.Row-8-4
	{
		font-family: Arial;
	}

	div.Row-6-6
	{
		font-family: Arial;
	}

	div.Row-4-4-4
	{
		font-family: Arial;
	}

	div.Links
	{
		font-family: Arial;
	}

	div.GlossaryPageTerm
	{
		font-family: Arial;
	}

	div.GlossaryPageHeading
	{
		font-family: Arial;
	}

	div.GlossaryPageEntry
	{
		font-family: Arial;
	}

	div.GlossaryPageDefinition
	{
		font-family: Arial;
	}

	div.Concept
	{
		font-family: Arial;
	}

	li.Note_List
	{
		font-family: Arial;
	}

	li.MadCap1
	{
		font-family: Arial;
		padding-left: 5px;
		font-size: 10pt;
	}

	li.Example_List
	{
		font-family: Arial;
	}

	li.Caution_List
	{
		font-family: Arial;
	}

	a.Popup
	{
		font-family: Arial;
	}

	a.MCBreadcrumbsLink
	{
		font-family: Arial;
	}

	a:visited
	{
		font-family: Arial;
	}

	a:link
	{
		font-family: Arial;
	}

	a:hover
	{
		font-family: Arial;
	}

	a:active
	{
		font-family: Arial;
	}

	h1
	{
		/*AK 2021-04 UX requirement - colour was #26478d; */
		font-family: Arial;
		font-style: normal;
		font-size: 20pt;
		/*AK 2021-04 suppress line spacing; */
		line-height: 24pt;
		padding-bottom: 0em;
		margin-bottom: 1em;
		margin-top: 0.5em;
		padding-top: 0.5em;
		mc-auto-number-format: 'GH:{n+} ';
		mc-auto-number-position: outside-head;
		mc-auto-number-offset: 19mm;
	}

	h2
	{
		font-family: Arial;
		font-style: normal;
		font-size: 16pt;
		/*AK 2021-04 suppress line spacing; */
		line-height: 20pt;
		color: #333333;
		mc-auto-number-format: 'GH:{n}.{n+} ';
		page-break-after: avoid;
		mc-auto-number-position: outside-head;
		mc-auto-number-offset: 19mm;
	}

	h3
	{
		font-family: Arial;
		font-weight: bold;
		font-style: normal;
		font-size: 12pt;
		/*AK 2021-04 suppress line spacing; */
		line-height: 16pt;
		color: #333333;
		mc-auto-number-format: 'GH:{n}.{n}.{n+} ';
		page-break-after: avoid;
		mc-auto-number-position: outside-head;
		mc-auto-number-offset: 19mm;
	}

	h4
	{
		/*AK 2021-04 UX requirement - font was normal italic */
		font-family: Arial;
		font-weight: bold;
		font-size: 11pt;
		color: #333333;
		mc-auto-number-format: 'GH:{n}.{n}.{n}.{n+} ';
		page-break-after: avoid;
		mc-auto-number-position: outside-head;
		mc-auto-number-offset: 19mm;	
		mc-heading-level: 0;
	}

	h5
	{
		font-family: Arial;
		font-weight: bold;
		font-style: italic;
		font-size: 10pt;
		color: #333333;
		mc-auto-number-format: 'GH:{n}.{n}.{n}.{n}.{n+} ';
		page-break-after: avoid;
		mc-heading-level: 0;
	}

	h6
	{
		font-family: Arial;
		font-weight: normal;
		font-style: italic;
		font-size: 10pt;
		color: #333333;
		mc-auto-number-format: 'GH:{n}.{n}.{n}.{n}.{n}.{n+} ';
		page-break-after: avoid;
		mc-heading-level: 0;
	}

	h1.nonumber
	{
		mc-auto-number-format: '{ =0}';
	}

	h2.nonumber
	{
		mc-auto-number-format: '{ =0}';
	}

	h3.nonumber
	{
		mc-auto-number-format: '{ =0}';
	}
	
	h4.nonumber
	{
		mc-auto-number-format: '{ =0}';
	}
	h5.nonumber
	{
		mc-auto-number-format: '{ =0}';
	}
	
	h6.nonumber
	{
		mc-auto-number-format: '{ =0}';
	}

	ol
	{
		font-family: Arial;
		font-size: 10pt;
	}

	ul
	{
		font-family: Arial;
		hanging-punctuation: first;
		text-align: left;
	}

	li
	{
		font-family: Arial;
		font-size: 10pt;
		hanging-punctuation: none;
		text-align: inherit;
	}

	td
	{
		font-family: Arial;
		font-size: 10pt;
		/* AK 2021-05-24 */
	}

	MadCap|dropDown	/*NR 2021-08 - removed border around dropdown sections in PDFs */
	{
		border: none;
	}

	MadCap|dropDownBody	/*AK 2021-04 - added to move content away from the border of the tint box */
	{
		padding: 10px;
	}

	MadCap|dropDownHead	/* AK 2021-05 - added to correct content position */
	{
		padding-top: 8px;
		padding-right: 20px;
		padding-bottom: 10px;
		padding-left: 10px;
		margin-bottom: -13px;
	}

	MadCap|popupBody
	{
		font-family: Arial;
	}

	MadCap|relatedTopicsControlListItemLink
	{
		font-family: Arial;
	}

	MadCap|relatedTopicsControlList
	{
		font-family: Arial;
	}

	MadCap|relatedTopicsControlListItem
	{
		font-family: Arial;
		font-size: 1em;
	}

	MadCap|slideshowCaption
	{
		font-family: Arial;
	}

	MadCap|helpControlMenuItem
	{
		font-family: Arial;
	}

	/* JB 2021-06-03 */
	
	img
	{
		mc-printer-page-size: a4;
		float: inherit;
		box-sizing: content-box;
		max-height: auto;
		max-width: 100%;
		page-break-before: avoid;
		page-break-inside: avoid;
		mc-thumbnail: none;
	}

	li.MadCap_Table_List
	{
		left: 0px;
		font-size: 10pt;
		margin-left: 1em;
	}

	li.MadCap_Indent3
	{
		padding-left: 5px;
		font-size: 10pt;
		margin-left: 5em;
	}

	a
	{
		font-size: 1em;
		font-family: Arial;
	}

	MadCap|relatedTopics
	{
		font-family: Arial;
		font-size: 1em;
	}

	li.MadCap_Table_List_Indent2
	{
		font-size: 10pt;
		margin-left: 3em;
	}

	li.MadCap_Table_List_Indent3
	{
		font-size: 10pt;
	}

	li.MadCap_Indent2
	{
		font-size: 10pt;
		padding-left: auto;
	}

	p.Indent
	{
		font-size: 10pt;
		font-family: Arial;
	}

	ol.Indent
	{
		font-size: 10pt;
	}

	h1.incrementnumber_and_vol
	{
		mc-heading-level: 2;
		mc-auto-number-format: 'GH:{chapnum}.{volnum}  ';
		font-weight: normal;
	}

	h1.increment_indent
	{
		font-weight: normal;
	}

	h2.no_vol_increment
	{
		mc-auto-number-format: '{chapnum}.{n}.{n+}  ';
	}
}

p.Indent
{
	page-break-inside: avoid;
	mc-auto-number-position: inside-head;
	orphans: 2;
	font-weight: normal;
	text-align: left;
	font-size: 1em;
	color: #575755;
	mc-hyphenate: never;
	margin-right: 0;
	font-family: Roboto, Arial;
	margin-left: 4em;
}

li.MadCap_Indent2
{
	mc-disabled: false;
	font-size: 1.0em;
	text-align: left;
	list-style-position: inherit;
	list-style-type: inherit;
	overflow: inherit;
	position: relative;
	padding-left: 0em;
	margin-left: 3em;
	text-indent: inherit;
}

li.MadCap_Indent3
{
	mc-disabled: false;
	font-size: 1.0em;
	text-align: left;
	list-style-position: inherit;
	padding-left: 0em;
	list-style-type: inherit;
	text-indent: inherit;
	margin-left: 5em;
}

li.MadCap_Table_List
{
	mc-disabled: false;
	list-style-type: disc;
	font-size: 1.0em;
	left: 0em;
	margin-left: 1em;
}

/* event type shows up in GA as Event Action
   version is category
    */

/* Yes Click Thank you screen */

.modal__overlay
{
	background: rgba(0,0,0,0.4);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	text-align: right;
	text-shadow: none;
	top: 0;
	z-index: 1;
	justify-content: center;
	align-items: flex-end;
}

@media (min-height: 37.5em)
{
	.modal__wrap
	{
		left: 50%;
		position: absolute;
		top: 50%;
		-webkit-transform: translate(-50%, -80%);
		transform: translate(-50%, -80%);
	}
}

.modal__wrap label
{
	background: #54B948;
	border-radius: 50%;
	color: #ffffff;
	cursor: pointer;
	display: block;
	height: 1.5em;
	line-height: 1.5;
	position: absolute;
	right: 1em;
	top: 25%;
	width: 1.5em;
}

.modal__wrap p
{
	color: #000000;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

.modal input:focus ~ label
{
	-webkit-transform: scale(0.97);
	transform: scale(0.97);
}

input
{
	position: absolute;
	top: -1000px;
}

.modal__overlay
{
	opacity: 0;
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	z-index: -100;
}

input:checked ~ .modal__overlay
{
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	z-index: 800;
}

li.MadCap_Table_List_Indent2
{
	mc-disabled: false;
	list-style-type: disc;
	font-size: 1.0em;
	text-align: left;
	left: 3em;
	list-style-position: inherit;
	text-indent: inherit;
	margin-left: 3em;
}

li.MadCap_Table_List_Indent3
{
	mc-disabled: false;
	list-style-type: disc;
	font-size: 1.0em;
	text-align: left;
	left: 3em;
	list-style-position: inherit;
	padding-left: 0em;
	margin-left: 5em;
}

ol.Indent
{
	list-style-type: lower-alpha;
	margin-left: 3em;
	padding-left: 0em;
}

ol.Indent1
{
	list-style-type: lower-roman;
	padding-left: 0em;
	margin-left: 5em;
}

ol.Table_Indent
{
	list-style-type: lower-alpha;
	margin-left: 4em;
}

ol.table
{
	margin-left: 3em;
}

ol.Table_Indent1
{
	list-style-type: lower-roman;
	margin-left: 6em;
}

@media tablet
{
	div.NewRowClass1 > div:nth-child(1)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	div.NewRowClass1 > div:nth-child(2)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	div.NewRowClass1 > div:nth-child(3)
	{
		width: 33.33333%;
		margin-left: 0%;
	}
}

@media mobile
{
	div.NewRowClass1 > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.NewRowClass1 > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.NewRowClass1 > div:nth-child(3)
	{
		width: 100%;
		margin-left: 0%;
	}
}