/*-- scss:defaults --*/
$link-color: #de257e;

section.has-dark-background a, 
section.has-dark-background a:hover {
    color: #ffffff !important;
}

.reveal .slide .screenshot {
    border: 1px solid #083E44;
    border-right-width: 2px;
    border-bottom-width: 3px;
  }