name: Deploy docs site to production

on:
  push:
    branches:
      - prod
  workflow_run:
    workflows: ["Merge staging into prod"]
    types:
      - completed
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: "Checkout documentation repository"
        uses: actions/checkout@v4
        with:
          repository: validmind/installation
          path: site/_source/installation
          token: ${{ secrets.INSTALLATION_RO_PAT }}

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Fetch Quarto
        uses: ./.github/actions/fetch-quarto

      - name: Setup R environment
        uses: ./.github/actions/setup-r

      - name: Populate installation
        run: cp -r site/_source/installation/site/installation site/installation

      - name: Render prod docs site
        run: |
            cd site
            quarto render --profile production &> render_errors.log || {
            echo "Quarto render failed immediately";
            cat render_errors.log;
            exit 1;
            }

      # If yes then create the dev.env file for use in execution step
      - name: Create dev.env file
        if: steps.filter.outputs.notebooks == 'true'
        id: create_dev_env
        run: |
          touch dev.env
          echo VM_API_HOST=${{ secrets.PLATFORM_API_HOST }} >> dev.env
          echo VM_API_KEY=${{ secrets.PLATFORM_API_KEY }} >> dev.env
          echo VM_API_SECRET=${{ secrets.PLATFORM_API_SECRET }} >> dev.env
          echo VM_API_MODEL=${{ secrets.PLATFORM_DEV_MODEL }} >> dev.env
          cat dev.env

      # If yes then create the valid.env file for use in execution step
      - name: Create valid.env file
        if: steps.filter.outputs.notebooks == 'true'
        id: create_valid_env
        run: |
          touch valid.env
          echo VM_API_HOST=${{ secrets.PLATFORM_API_HOST }} >> valid.env
          echo VM_API_KEY=${{ secrets.PLATFORM_API_KEY }} >> valid.env
          echo VM_API_SECRET=${{ secrets.PLATFORM_API_SECRET }} >> valid.env
          echo VM_API_MODEL=${{ secrets.PLATFORM_VALID_MODEL }} >> valid.env
          cat valid.env

      # Only execute the production notebooks for training if .env files are created
      - name: Execute production ValidMind for model development and validation series
        if: ${{ steps.create_dev_env.outcome == 'success' && steps.create_valid_env.outcome == 'success' }}
        uses: ./.github/actions/prod-notebook
        id: execute-prod-notebook
        with:
          dev_env: dev.env
          valid_env: valid.env

      # Prod bucket is in us-east-1
      - name: Configure AWS credentials
        run: aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }} && aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }} && aws configure set default.region us-east-1

      - name: Deploy docs prod site
        run: aws s3 sync site/_site s3://docs-ci-cd-prod/site --delete --exclude "site/installation/helm-repo/*" && aws cloudfront create-invalidation --distribution-id E2I9R40IH01NW3 --paths "/*" --no-cli-pager
