/* Button Styles */

.button {
  color: #DE257E;
  background-color: white;
  text-decoration: none;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #DE257E;
  font-size: 16px;
  transition: color 0.15s ease-in, background-color 0.15s ease-in;
  font-weight: bold;
  text-align: center;
}

.button:hover {
  color: #083E44;
  text-decoration: none;
  border: 1px solid #083E44;
  background-color: #B5B5B510;
}

.button-pink {
  margin-top: 40px;
  color: white;
  background-color: #DE257E;
  border-radius: 4px;
  border: 1px solid #DE257E;
  margin-right: 20px;
}

.button-white {
  margin-top: 40px;
  color: #196972;
  background-color: #FFF;
  border-radius: 4px;
  border: 1px solid #196972;
}

.button-green {
  margin-top: 10px;
  color: white;
  background-color: #196972;
  border-radius: 4px;
  border: 1px solid #196972;
  font-weight: bold;
}

.button-small {
  /* font-size: 0.6em; */
  font-variant: small-caps;
  color: #083E44;
  background-color: #B5B5B510;
  border: 1px solid #083E44;
  /* font-weight: bold; */
  border-radius: 3px;
  padding: 2px 5px;
  vertical-align: middle;
  line-height: 35px;
}

.button-small:hover {
  color: #083E44;
  text-decoration: none;
  background-color: #EAF8FA;
  border: 1px solid #083E44;
}

.cta {
  text-decoration: none;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  border-radius: 2px;
  transition: color 0.15s ease-in, background-color 0.15s ease-in;
  font-weight: bold;
  text-align: center;
  font-variant: small-caps;
  font-size: 20px;
}

.cta:hover {
  text-decoration: none;
  filter: brightness(125%);
}

#nav-menu-log-in {
  background-color: #083E44;
  border: 1px solid #083E44;
  color: #fff;
  padding: 0.375rem 1rem !important;
  border-radius: 2px;
  text-decoration: none;
  font-weight: bolder;
}

#nav-menu-log-in:hover {
  text-decoration: none;
  color: white;
  background-color: #de257e;
  border: 1px solid #de257e;
}
/* Make sure the login button classes to the login link */
a.nav-link[href="https://app.prod.validmind.ai/"] {
  @extend #nav-menu-log-in;
}

/* Disable underline on hover for login button */
a.nav-link[href="https://app.prod.validmind.ai/"]:hover {
  text-decoration: none !important;
}

/* Responsive styles for nav-menu-log-in */
@media (max-width: 768px) {
  #nav-menu-log-in {
    margin-top: 0.5rem;
  }
}

